<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slidea</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/profile/css/fullpage.css') }}"" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/profile/css/main.css') }}" />

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <script src={{ url_for('static', filename="components/side-bar/Sidebar.js") }} type="module"></script>
    <script src={{ url_for('static', filename="components/create-workspace/Workspace.js") }} type="module"></script>

</head>

<body>
    
    <side-bar id="sidebar-comp"   style="width: 0%; height: 100%; background-color: #F8F7F9;" class="sidenavW3"></side-bar>
    <create-workspace id="workspace-comp" ></create-workspace>



    <div id="openCloseNav">
        <div id="burger-top"></div>
        <div id="burger-middle"></div>
        <div id="burger-bottom"></div>
    </div>

    <div id="fullpage">


        <div class="section" id="section1">
            <content class="intro">
                <h1 class="pp_bt_logo_click">SLIDEA</h1>
                <content id="name">
                    
                    <p id="insert-username"></p>

                    
                </content>
                <div id="ppContainer">
                    <img id="PP" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                </div>
                <div id="yut">
                    <div id="header">
                        <h2>April 10, 2020</h2>
                        <p>Your upcoming Tasks</p>
                    </div>
                    <div class="Task">
                        <p>Government Work</p>
                        <h2>Is Biden a cat person?</h2>
                        <div class="contribuer">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                        </div>
                    </div>
                    <div class="Task">
                        <p>Government Work</p>
                        <h2>ObAmA</h2>
                        <div class="contribuer">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                        </div>
                    </div>
                    <div class="Task">
                        <p>Austrian History</p>
                        <h2>Willkommen!</h2>
                        <div class="contribuer">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                            <img id="PPc" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                        </div>

                    </div>
                </div>
                <footer>
                    <div>
                        <h2>Born on</h2>
                        <p>July 10, 2001</p>
                    </div>
                    <div>
                        <h2>Presentations</h2>
                        <p>34</p>
                    </div>
                    <div>
                        <button id="edidprofilebutton">Edit Profile</button>
                    </div>
                    <div>
                        <h2>Workspaces</h2>
                        <p>None</p>
                    </div>
                    <div>
                        <h2>User since</h2>
                        <p>June 19, 2017</p>
                    </div>
                </footer>
        </div>
        <div class="section" id="section2">
            <div class="intro">
                <h1>SLIDEA</h1>
                <div id="Profile">
                    <div class="whoami">
                        <div id="secppContainer">
                            <img id="secPP" src={{ url_for("static", filename="/profile/img/cat.jpg") }} alt="Profile Picture">
                        </div>
                        <p>Gregor <br>
                            Deschwanden</p>
                    </div>
                    <hr>
                    <form>
                        <div class="inpbox">
                            <span>E-mail</span><br>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="inpbox">
                            <span>Date of Birth</span><br>
                            <input type="date" name="dateofbirth" id="dateofbirth">
                        </div>
                        <div class="inpbox">
                            <span>Username</span><br>
                            <input type="text" name="username" id="username">
                        </div>
                        <div class="inpbox">
                            <span>Phone Number</span><br>
                            <input type="tel" name="phonenumber" id="phonenumber">
                        </div>
                        <div class="inpbox">
                            <span>Password</span><br>
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="inpbox">
                        </div>
                    </form>
                    <hr class="clearfloat">
                    <div class="settingsbox">
                        <div class="twofactorauthentication">
                            <h2>Two-Factor Authentication</h2>
                            <p>
                                Protect your Slidea account with an extra layer of security. Once configured, you’ll
                                be equipped to enter both your password and an authentication code from your mobile
                                Phone in order to sign in.
                            </p>
                            <button id="tfBactPU">Enable Two-Factor Auth</button>
                        </div>
                        <div class="accountremoval">
                            <h2>Account Removal</h2>
                            <p>
                                It is possible to <span>delete your account</span>, but it’s irreversible.
                                Please be sure that you would like to do that.
                            </p>
                            <button id="dBactPU">Delete Account</button>
                        </div>
                    </div>
                </div>
                <div id="missingConfigurations">
                    <h2>Missing Configurations</h2>
                    <p id="mCDescription">
                        Checking those options will increase your
                        account security.
                    </p>
                    <div class="configshadow">
                        <div class="configs">
                            <i class="fas fa-times deleteconfig"></i>
                            <p>Phone Number</p>
                        </div>
                        <div class="configs">
                            <i class="fas fa-times deleteconfig"></i>
                            <p>Two-Factor Authentication</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popupbox">
        <div class="popup" id="tf">
            <div class="iconbox">
                <i class="fas fa-lock lockicon"></i>
            </div>
            <h1>Enable Two-Factor</h1>
            <p id="marginp">Please enter 6-digit code we sent to your account-email.</p>
            <div class="mm-number">
                <div class="mm-number-container">
                    <div class="mm-number-input">
                        <div class="mm-number-input-container animated">
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                            <div class="mm-number-input-item">
                                <input type="number" pattern="\d*" class="animated" max="1" maxlength="1"
                                    placeholder="_">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="activated" disabled>Activate</button>
        </div>
        <div class="popup" id="del">
            <div class="iconbox">
                <i class="fas fa-trash-alt trashcanicon"></i>
            </div>
            <h1>Delete Account</h1>
            <h2>Are you sure you want to <br>
                permanently delete your account?</h2>
            <p>You can’t undo this action.</p>
            <div class="buttons">
                <button id="cancelbutton">Cancel</button>
                <button id="deletebutton">Delete</button>
            </div>
            <div id="confirm">
                <p>Please type <strong>GregorDeschwanden</strong> to confirm.</p>
                <input type="text" name="confirmtext" id="confirmtext">
                <button id="deleteButtonConf" disabled>Delete</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='/profile/js/fullpage.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/profile/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/profile/js/popup.js') }}" ></script>
    <script type="text/javascript">
        var myFullpage = new fullpage('#fullpage', {
            sectionsColor: ['#fff', '#fff'],
            anchors: ['firstPage', 'secondPage'],
            navigation: true,
            navigationPosition: 'left',
            navigationTooltips: ['First page', 'Second page']
        });

        $("#edidprofilebutton").click(function () {
            myFullpage.moveSectionDown();
        });

        let dummy = false;

        function openNav() {
            if (dummy) {
                $("#sidebar-comp").css('width', 0);
                $("#fullpage, #fp-nav, #openCloseNav").css('margin-left', 0);
                dummy = false;
            } else {
                $("#sidebar-comp").css('width', '16.67vw');
                $("#fullpage, #fp-nav, #openCloseNav").css('margin-left', '16.67vw');
                dummy = true;
            }
        }

        $("#openCloseNav").click(function () {
            openNav();
            console.log("hallo")
        });

        $(document).ready(function () {
            $(".accountremoval p").css('min-height', $(".twofactorauthentication p").height())
            $(".trashcanicon, .lockicon").css('display', 'flex');
            $(".trashcanicon, .lockicon").css('justify-content', 'center');
            $(".trashcanicon, .lockicon").css('align-items', 'center');
        });

        $(window).resize(function () {
            $(".accountremoval p").css('min-height', $(".twofactorauthentication p").height())
        });

        let isdropped = false;

        $('.fa-angle-down, .fa-angle-up').click(function () {
            if (!isdropped) {
                $(this).addClass('fa-angle-up');
                $(this).removeClass('fa-angle-down');
                $('.dropdown').css('display', 'block');
                isdropped = true;
            }
            else {
                $(this).removeClass('fa-angle-up');
                $(this).addClass('fa-angle-down');
                $('.dropdown').css('display', 'none');
                isdropped = false;
            }

        });
    </script>

<script type="text/javascript">
    var workspace = document.getElementById('workspace-comp');
    var sideBar = document.getElementById('sidebar-comp');
    
     sideBar.addEventListener('animWorkSpace', e => {                   
        workspace.animateWorkspace();
    })
</script>

<script type="text/javascript">
    var token = localStorage.getItem('token');
    // test to get user data
   $.ajax({
  type: "POST",
  url: "user/",
  headers: {
    "Authorization": "Bearer " + token
  }
}).done(function(data) {
    console.log(data);
    $('#insert-username').html(data);
});

</script>

</body>

</html>