
* {
    background: var(--white);
    font-family: 'Karla';
    color: var(--light-grey);
    font-size:100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

.content{
    font-weight: bolder;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content h1{
    color: var(--dark-grey);
    font-size: 250%;
    font-weight: bold;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
    color: var(--dark-grey);
    opacity: 50%;
    font-weight: 500;
}
 
.line-left, .line-right{
    width: 45%;
    background: var(--dark-grey);
    height: 1px;
    border-radius: 5%;
    margin: auto;
    opacity: 50%;
}

.logos{
    display: inline-block;
}

.apple, .google{
    display: inline-block;
    height: 54px;
    width: 54px;
    background: var(--dark-grey);
    border-radius: 15%;
    text-align: center;
}

ion-icon{
    font-size: 160%;
    color: var(--white);
    background-color: var(--dark-grey);
    text-align: center;
    vertical-align: center;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

form .forgot{
    color: var(--dark-grey);
    opacity: 50%;
    text-transform: none;
    text-decoration: none;
    font-size: 100%;
    font-weight: 300;
    margin: 0.5vh 0 1vh 0;
}

input[type=text]{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid var(--dark-grey);
    opacity: 50%;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--dark-grey);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

input[type=button]{
    width: 100%;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

form a{
    width: 100%;
}

form a .login, form a .register{
    width: 100%;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

p{
    color: var(--dark-grey);
    opacity: 50%;
    margin: 0.5vh;
    font-weight: 300;
}

p .policy{
    color: var(--dark-grey);
    opacity: 50%;
    font-size: 100%;
    text-decoration: none;
    text-transform: none;
}

.right-side{
    width: 50vw;
    height: 100vh;
    background-image: url(../pictures/login.jpg);
    background-size: cover;
    background-position: 75%;
    background-repeat: no-repeat;
}

.right-side a{
    color: var(--white);
    font-size: 250%;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    position: absolute;
    right: 2vw;
    top: 2vh;
    font-weight: bold;
}
