<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <h2>My Phonebook</h2>

    <div class="input-icons">
        <i class="fas fa-search icon"></i>
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a name"
        autocomplete="off">

    <ul id="myUL">
        <li><a href="#">Adele</a></li>
        <li><a href="#">Agnes</a></li>

        <li><a href="#">Billy</a></li>
        <li><a href="#">Bob</a></li>

        <li><a href="#">Calvin</a></li>
        <li><a href="#">Christina</a></li>
        <li><a href="#">Cindy</a></li>
    </ul>

    <script src="./js/index.js"></script>

</body>

</html>