<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link href="../css/variables.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="left-side">
        <div class="content">
            <h1>Welcome back!</h1>

            <div class="logos">
                <div class="apple"><ion-icon name="logo-apple"></ion-icon></div>
                <div class="google"><ion-icon name="logo-google"></ion-icon></div>
            </div>

            <div class="line">
                <div class="line-left"></div>
                Or 
                <div class="line-right"></div>
            </div>

            <form name="logIn">
                <input type="text" class="email" placeholder="E-Mail">
                <input type="text" class="password" placeholder="Password">
                <a href="#">Forgot?</a>
                <div class="buttons">
                    <input type="button" class="continue" value="Continue">
                    <input type="button" class="register" value="New here?">
                </div>
            </form>

           
        </div>
    </div>

    <div class="right-side">
        <a href="../index.html">Slidea</a>
    </div>
    

    <script src="../js/eventhandler.js" type="text/javascript" defer></script>
</body>
</html>