<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tos.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <link href="../css/variables.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <title>Terms of Service</title>
</head>
<body>

    <div class="header">
        <a class="arrow" href="#"><ion-icon name="chevron-back-outline"></ion-icon></a>
        <h1 class="logo">Slidea</h1>
        <h1 class="tos">Terms of Service</h1>
        <p class="modified">Last modified: </p> <p class="date">May 21, 2018</p>
    </div>

    <div class="container">
        <nav class="nav">
            <h1>Terms of Service</h1>
            <p class="nav-title">3. Using Google Play</p>
            <div class="download">
                <ion-icon name="cloud-download"></ion-icon>
                <p>Download PDF</p>
            </div>
        </nav>

        <div class="main">
            <p class="title" >3. Using Google Play<p>
            <p class="subtitle">a. Age Restriction<p>
            <p class="content">To use....</p>
        </div>
    </div>
</body>
</html>