:root {
    --dark-grey: #383838;
    --light-grey: #F6F4F9;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Karla;
    outline: none;
}

.navandcontent {
    display: flex;
    height: 93vh;
    width: 100vw;
}

#contentbox {
    position: relative;
    width: 83%;
    overflow: auto;
    z-index: 10;
    margin-top: 0.5vh;
}

#dashboardHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 0 3vh;
}

#dashboardHeader-left {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    color: var(--dark-grey);
}

#dashboardHeader-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#dashboardStart, #dashboardEnd {
    width: 46%;
    height: 50%;
}

#dashboardMain {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    padding: 0 2vh;
}

#dashboardMain-left {
    width: 70%;
    height: 70vh;
}

#dashboardMain-left-top {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.smallBox {
    margin: 1vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboardMain-left-top-first-top, #dashboardMain-left-top-second-top, #dashboardMain-left-top-third-top {
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.2rem;
    opacity: 0.6;
}

#dashboardMain-left-top-first-bottom, #dashboardMain-left-top-second-bottom, #dashboardMain-left-top-third-bottom {
    width: 80%;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#userCount, #interactionCount, #presentationCount {
    font-size: 2.4rem;
}

#userCountPlus, #interactionCountPlus, #presentationCountPlus {
    font-size: 1.6rem;
    margin: 1vh;
}

#dashboardMain-left-bottom {
    width: 100%;
    height: 80%;
    display: flex;
}

#dashboardMain-left-bottom-inner {
    margin: 1vh;
    flex: 1;
}

#dashboardMain-right {
    width: 30%;
    height: 70vh;
    display: flex;
}

#dashboardMain-right-inner {
    margin: 1vh;
    flex: 1;
}

#dashboardBottom {
    width: 100%;
    height: 50vh;
    padding: 0 2vh;
    display: flex;
    flex-direction: row;
}

#dashboardBottom-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#dashboardBottom-left-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dashboardBottom-left-left-top {
    height: 60%;
    display: flex;
}

#dashboardBottom-left-left-top-inner {
    margin: 1vh;
    flex: 1;
}

#dashboardBottom-left-left-bottom {
    height: 40%;
    display: flex;
}

#dashboardBottom-left-left-bottom-inner {
    margin: 1vh;
    flex: 1;
}

#dashboardBottom-left-right {
    width: 70%;
    height: 100%;
    display: flex;
}

#dashboardBottom-left-right-inner {
    margin: 1vh;
    flex: 1;
}

#dashboardBottom-right {
    width: 30%;
    height: 100%;
    display: flex;
}

#dashboardBottom-right-inner {
    margin: 1vh;
    flex: 1;
}

.box {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 12px;
}

.plus {
    color: green;
}

.minus {
    color: red;
}