* {
    font-family: 'Karla';
    padding: 0;
    margin: 0;
}

#chart-last-config {
    display: none !important;
}


#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-grey);
    overflow: hidden !important;
    z-index: 1 !important;
}

#content-navigation {
    width: 100%;
    height: 7%;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 110;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content-navigation-first {
    width: 66%;
    height: 70%;
    border-right: solid 2px rgb(112, 112, 112, 0.24);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-navigation-first-left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#content-navigation-first-left-icon {
    width: 20%;
    font-size: 1.6rem;
}

#content-navigation-first-left-text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-navigation-first-left-text-h2 {
    font-size: 1.2rem;
}

#content-navigation-first-left-text-h3 {
    font-size: 0.9rem;
}

#content-navigation-first-right-icon {
    margin-right: 1vw;
    font-size: 1.6rem;
}

#content-navigation-second {
    width: 10%;
    height: 70%;
    border-right: solid 2px rgb(112, 112, 112, 0.24);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content-navigation-second-cam,
#content-navigation-second-mic,
#content-navigation-second-headset,
#content-navigation-second-settings {
    font-size: 1.6rem;
}

#content-navigation-second-cam:hover,
#content-navigation-second-mic:hover,
#content-navigation-second-headset:hover,
#content-navigation-second-settings:hover {
    cursor: pointer;
}

#content-navigation-third {
    width: 7%;
    height: 70%;
    border-right: solid 2px rgb(112, 112, 112, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-navigation-third-box {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-grey);
    border-radius: 5px;
}

#content-navigation-third-box-live {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white);
}

#content-navigation-third-box-counter {
    width: 1vw;
    height: 1vw;
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-navigation-fourth {
    width: 10%;
    height: 70%;
    border-right: solid 2px rgb(112, 112, 112, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-navigation-fourth-position {
    width: 8vw;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}

.content-navigation-fourth-position-circle {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-navigation-fourth-position-firstCircle {
    background-color: red;
    z-index: 5;
}

#content-navigation-fourth-position-secondCircle {
    background-color: blue;
    z-index: 4;
    margin-left: -0.3vw;
}

#content-navigation-fourth-position-thirdCircle {
    background-color: green;
    z-index: 3;
    margin-left: -0.3vw;
}

#content-navigation-fourth-position-fourthCircle {
    background-color: yellow;
    z-index: 2;
    margin-left: -0.3vw;
}

#content-navigation-fourth-position-fifthCircle {
    background-color: purple;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
    margin-left: -0.3vw;
}

#content-navigation-fifth {
    width: 7%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-navigation-fifth-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content-navigation-fifth-box-play,
#content-navigation-fifth-box-down{
    font-size: 2rem;
    color: var(--dark-grey);
}

#content-navigation-fifth-box-shortcut{
    font-size: 1.5rem;
    color: var(--dark-grey);
}

#content-navigation-fifth-box-play:hover,
#content-navigation-fifth-box-down:hover,
#content-navigation-fifth-box-shortcut:hover {
    cursor: pointer;
}

#content-leftSlides {
    width: 13%;
    height: 93%;
    border-right: solid 2px rgb(112, 112, 112, 0.18);
    box-sizing: border-box;
}

#content-leftSlides-topBar {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    position: relative;
    z-index: 10 !important;
}

#content-leftSlides-topBar-plus {
    font-size: 1.6rem;
    color: var(--dark-grey);
    padding-left: 1vw;
}

#content-leftSlides-topBar-down {
    font-size: 1.6rem;
    color: var(--dark-grey);
    padding-left: 1vw;
}

#content-leftSlides-topBar-plus:hover,
#content-leftSlides-topBar-down:hover {
    cursor: pointer;
}

#content-leftSlides-slidesContent {
    width: 100%;
    height: 92%;
    overflow-y: auto;
}

#content-leftSlides-slidesContent::-webkit-scrollbar {
    display: none;
}

#content-leftSlides-slidesContent-animatedBar {
    width: 6px;
    background-color: var(--dark-grey);
    position: absolute;
    z-index: 2 !important;
}

.content-leftSlides-slidesContent-slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2vh;
}

.content-leftSlides-slidesContent-slide-middleBar {
    width: 2vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

.content-leftSlides-slidesContent-slide-content {
    width: 10vw;
    height: 100%;
    background-color: var(--dark-grey);
    transition: all 0.15s;
}

.content-leftSlides-slidesContent-slide-content:hover {
    cursor: pointer;
}

#content-main {
    width: 60vw;
    height: 93%;
}

#content-main-inner {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-main-inner-spacing {
    width: 58vw;
    height: 97%;
}

#content-main-inner-spacing-top {
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
}

.content-main-inner-spacing-top-profile {
    width: 6vw;
    height: 100%;
    margin-right: 2vw;
}

.content-main-inner-spacing-top-profile-image {
    width: 6vw;
    height: 6vw;
    background-color: orange;
    border: solid orange 3px;
    border-radius: 5px;
}

.content-main-inner-spacing-top-profile-text {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.2vh;
}

#content-main-inner-spacing-middle {
    width: 58vw;
    height: 32.625vw;
    background-color: var(--dark-grey);
}

#content-main-inner-spacing-bottom {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#content-main-inner-spacing-bottom-left {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-main-inner-spacing-bottom-left-firstIcons {
    width: 37%;
    height: 2.3vw;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#content-main-inner-spacing-bottom-left-firstIcons-person,
#content-main-inner-spacing-bottom-left-firstIcons-checkmark {
    font-size: 1.6rem;
}

#content-main-inner-spacing-bottom-left-secondIcon {
    width: 2.3vw;
    height: 2.3vw;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-main-inner-spacing-bottom-left-secondIcon-chat {
    font-size: 1.6rem;
}

#content-main-inner-spacing-bottom-left-thirdIcon {
    width: 2.3vw;
    height: 2.3vw;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-main-inner-spacing-bottom-left-thirdIcon-smiley {
    font-size: 1.6rem;
}

#content-rightOptions {
    width: 27vw;
    height: 93%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#content-rightOptions-inner {
    width: 90%;
    height: 98%;
    border-radius: 7px 0 0 0;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: scroll;
}

#popupBox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 300;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    transition: all 0.1s;
    opacity: 0.0;
}

#popupBox-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#popupBox-top-controls {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#popupBox-top-controls-buttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popupBox-top-controls-buttons-use {
    width: 16%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    color: var(--dark-grey);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.3vw;
}

#popupBox-top-controls-buttons-exit {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#popupBox-top-controls-buttons-exit-icon {
    color: var(--white);
    font-weight: bold;
    font-size: 2.5rem;
}

#popupBox-top-main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupBox-top-main-leftArrow,
#popupBox-top-main-rightArrow {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 5rem;
    transition: all 0.5s;
}

#popupBox-top-main-leftArrow:hover,
#popupBox-top-main-rightArrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#popupBox-top-main-middle {
    width: 50vw;
    height: 28.125vw;
    background-color: blue;
}

#popupBox-bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupBox-bottom-inner {
    height: 9vw;
    width: 50%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

#popupBox-bottom-inner::-webkit-scrollbar {
    height: 0.8vw;
    background: none;
}

#popupBox-bottom-inner::-webkit-scrollbar-thumb {
    height: 0.8vw;
    background-color: var(--light-grey);
    border-top: solid 0.2vw rgb(0, 0, 0, 0.8);
}

.popupBox-bottom-inner-slide {
    min-width: 14.2222222222222222vw;
    height: 8vw;
    background-color: blue;
    margin-right: 1vw;
}

#addObjectPopup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300 !important;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
}

#addObjectPopup-inner {
    width: 48%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#addObjectPopup-inner-popup {
    width: 12vw;
    height: 23vh;
    z-index: 300 !important;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0vh 0.8vw 0 0.4vw;
    opacity: 0.0;
    transition: all 0.1s;
    padding-left: 1vw;
}

#content-navigation-first-right-icon:hover {
    cursor: pointer;
}

#addObjectPopup-inner-popup-headline {
    width: 80%;
    height: 14%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 0.8rem;
    font-weight: bold;
}

#addObjectPopup-inner-popup-text,
#addObjectPopup-inner-popup-image,
#addObjectPopup-inner-popup-chart,
#addObjectPopup-inner-popup-quiz {
    width: 80%;
    height: 16%;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

#addObjectPopup-inner-popup-text:hover,
#addObjectPopup-inner-popup-image:hover,
#addObjectPopup-inner-popup-chart:hover,
#addObjectPopup-inner-popup-quiz:hover {
    cursor: pointer;
}

#addObjectPopup-inner-popup-text-icon,
#addObjectPopup-inner-popup-image-icon,
#addObjectPopup-inner-popup-chart-icon,
#addObjectPopup-inner-popup-quiz-icon {
    font-size: 1.2rem;
    margin: 0 0.5vw;
}

#addObjectPopup-inner-pictures {
    width: 20vw;
    height: 89vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 500 !important;
    border-radius: 10px;
    margin: 1.5vh 0vw;
    opacity: 0;
    transition: all 0.1s;
}

#addObjectPopup-inner-pictures-upload {
    width: 18vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 2vh 1vw;
}

#addObjectPopup-inner-pictures-upload-inner {
    width: 100%;
    height: 100%;
    border: dashed 3px var(--dark-grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--dark-grey);
    font-weight: bold;
    opacity: 0.2;
    text-align: center;
}

#addObjectPopup-inner-pictures-link {
    width: 20vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#addObjectPopup-inner-pictures-link-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-pictures-link-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addObjectPopup-inner-pictures-link-bottom-background {
    width: 90%;
    height: 60%;
    background-color: var(--light-grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addObjectPopup-inner-pictures-link-bottom-background-icon {
    width: 15%;
    font-size: 1.6rem;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-pictures-link-bottom-background-field {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}


#addObjectPopup-inner-pictures-link-bottom-background-field::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-pictures-link-bottom-background-field:focus {
    outline: none;
}

#addObjectPopup-inner-pictures-unsplash {
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

#addObjectPopup-inner-pictures-unsplash-top {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#addObjectPopup-inner-pictures-unsplash-top-headline {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-pictures-unsplash-top-input {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addObjectPopup-inner-pictures-unsplash-top-input-background {
    width: 90%;
    height: 90%;
    background-color: var(--light-grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addObjectPopup-inner-pictures-unsplash-top-input-background-icon {
    width: 15%;
    font-size: 1.6rem;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-pictures-unsplash-top-input-background-field {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-pictures-unsplash-top-input-background-field::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-pictures-unsplash-top-input-background-field:focus {
    outline: none;
}

#addObjectPopup-inner-pictures-unsplash-bottom {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

#addObjectPopup-inner-chart {
    width: 20vw;
    height: 60vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 1.5vh 0.8vw 0vw 0vw;
    opacity: 0;
    transition: all 0.1s;
}

#addObjectPopup-inner-chart-top {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#addObjectPopup-inner-chart-top-header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#addObjectPopup-inner-chart-top-header-headline {
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-chart-top-header-add:hover {
    cursor: pointer;
}

#addObjectPopup-inner-chart-top-input {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addObjectPopup-inner-chart-top-input-background {
    width: 90%;
    height: 90%;
    background-color: var(--light-grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addObjectPopup-inner-chart-top-input-background-icon {
    width: 15%;
    font-size: 1.6rem;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-chart-top-input-background-field {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-chart-top-input-background-field::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-chart-top-input-background-field:focus {
    outline: none;
}

#addObjectPopup-inner-chart-bottom {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#addObjectPopup-inner-chart-bottom-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#addObjectPopup-inner-chart-bottom-header-headline {
    width: 94%;
    height: 10%;
    font-size: 1.2rem;
    color: var(--dark-grey);
    font-weight: bold;
}

#addObjectPopup-inner-chart-bottom-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#addObjectPopup-inner-chart-bottom-content::-webkit-scrollbar {
    display: none;
}

.addObjectPopup-inner-chart-bottom-content-row {
    width: 85%;
    min-height: 6vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0.6vh 0;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    color: var(--dark-grey);
    font-size: 1rem;
    font-weight: bold;
}

.addObjectPopup-inner-chart-bottom-content-row:hover {
    cursor: pointer;
}

#addObjectPopup-inner-quiz {
    width: 20vw;
    height: 60vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 1.5vh 0.8vw 0vw 0vw;
    opacity: 0;
    transition: all 0.1s;
}

#addObjectPopup-inner-quiz-top {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#addObjectPopup-inner-quiz-top-header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#addObjectPopup-inner-quiz-top-header-headline {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-quiz-top-header-add {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-quiz-top-header-add:hover {
    cursor: pointer;
}

#addObjectPopup-inner-quiz-top-input {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addObjectPopup-inner-quiz-top-input-background {
    width: 90%;
    height: 90%;
    background-color: var(--light-grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addObjectPopup-inner-quiz-top-input-background-icon {
    width: 15%;
    font-size: 1.6rem;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-quiz-top-input-background-field {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#addObjectPopup-inner-quiz-top-input-background-field::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-grey);
    opacity: 0.4;
}

#addObjectPopup-inner-quiz-top-input-background-field:focus {
    outline: none;
}

#addObjectPopup-inner-quiz-bottom {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addObjectPopup-inner-quiz-bottom::-webkit-scrollbar {
    display: none;
}

.addObjectPopup-inner-quiz-bottom-row {
    width: 90%;
    height: 10vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.addObjectPopup-inner-quiz-bottom-row:hover {
    cursor: pointer;
}

.addObjectPopup-inner-quiz-bottom-row-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addObjectPopup-inner-quiz-bottom-row-left-image {
    width: 80%;
    height: 80%;
    background-color: var(--dark-grey);
    border-radius: 10px;
}

.addObjectPopup-inner-quiz-bottom-row-middle {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.addObjectPopup-inner-quiz-bottom-row-middle-name {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.4rem;
    color: var(--dark-grey);
}

.addObjectPopup-inner-quiz-bottom-row-middle-desc {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    color: var(--dark-grey);
}

.addObjectPopup-inner-quiz-bottom-row-right {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addObjectPopup-inner-quiz-bottom-row-right-image {
    width: 2vw;
    height: 2vw;
    background-color: var(--dark-grey);
    border-radius: 100%;
}

#addObjectPopup-inner-quizInfo {
    width: 12vw;
    height: 30vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 500 !important;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 1.5vh 0vw;
    opacity: 0;
    transition: all 0.1s;
}

#presentationModePopup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200 !important;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
}

#presentationModePopup-inner {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#presentationModePopup-inner-popup {
    width: 12vw;
    height: 16vh;
    z-index: 300 !important;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0vh 1vw;
    opacity: 0;
    padding-left: 1vw;
    transition: all 0.1s;
}

#presentationModePopup-inner-popup-headline {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: bold;
}

#presentationModePopup-inner-popup-start {
    width: 80%;
    height: 28%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 0.8vw;
}

#presentationModePopup-inner-popup-current {
    width: 80%;
    height: 28%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 0.8vw;
}

#presentationModePopup-inner-popup-start:hover,
#presentationModePopup-inner-popup-current:hover {
    cursor: pointer;
}

#chartsPopup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    justify-content: center;
    align-items: center;
    opacity: 0.0;
    transition: all 0.1s;
}

#chartsPopup-inner {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#chartsPopup-inner-left {
    width: 65%;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

#chartsPopup-inner-right {
    width: 30%;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
}

#chartsPopup-inner-right-preview {
    width: 100%;
    height: 40%;
}

#chartsPopup-inner-right-settings {
    width: 100%;
    height: 60%;
}

#chartsPopup-inner-right-settings-close {
    width: 40%;
    height: 10%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chartsPopup-inner-right-settings-close:hover {
    cursor: pointer;
}

#settingsPopup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    opacity: 0.0;
    transition: all 0.1s;
}

#settingsPopup-inner {
    width: 25%;
    height: 65%;
}

#settingsPopup-inner-top {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#settingsPopup-inner-top-spacing,
#settingsPopup-inner-top-exit {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#settingsPopup-inner-bottom-header-exit {
    font-size: 2.5rem;
    color: var(--white);
    margin-top: 1vh;
}

#settingsPopup-inner-top-middle {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#settingsPopup-inner-top-middle-text {
    font-size: 0.9rem;
    color: var(--white);
    opacity: 0.65;
}

#settingsPopup-inner-top-middle-title {
    font-size: 1.6rem;
    color: var(--white);
}

#settingsPopup-inner-bottom {
    width: 100%;
    height: 90%;
    background-color: #16171A;
    border-radius: 10px;
}

#settingsPopup-inner-bottom-picture {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsPopup-inner-bottom-picture-inner {
    width: 18vh;
    height: 18vh;
    background-color: blue;
    border-radius: 100%;
}

#settingsPopup-inner-bottom-header-exit:hover {
    cursor: pointer;
}

#settingsPopup-inner-bottom-settings {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#settingsPopup-inner-bottom-settings-cam,
#settingsPopup-inner-bottom-settings-mic {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5vh;
    background-color: #2A2A2F;
}

#settingsPopup-inner-bottom-settings-cam:hover,
#settingsPopup-inner-bottom-settings-mic:hover {
    cursor: pointer;
}

#settingsPopup-inner-bottom-settings-cam-top,
#settingsPopup-inner-bottom-settings-mic-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#settingsPopup-inner-bottom-settings-cam-bottom,
#settingsPopup-inner-bottom-settings-mic-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#settingsPopup-inner-bottom-settings-cam-bottom-popup,
#settingsPopup-inner-bottom-settings-mic-bottom-popup {
    width: 2.2vh;
    height: 2.2vh;
    background-color: #2A2A2F;
    border: solid 3px #16171A;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

#settingsPopup-inner-bottom-settings-cam-icon,
#settingsPopup-inner-bottom-settings-mic-icon {
    font-size: 1.6rem;
    color: var(--white);
}

#settingsPopup-inner-bottom-button {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#settingsPopup-inner-bottom-button-join {
    width: 40%;
    height: 50%;
    background-color: #2A2A2F;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsPopup-inner-bottom-button-join:hover {
    cursor: pointer;
}

#camPopup {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}

#camPopup-inner {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#camPopup-inner-popup,
#micPopup-inner-popup {
    width: 45%;
    min-height: 34%;
    border-radius: 10px;
    background-color: #2A2A2F;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 300 !important;
    opacity: 0.0;
    transition: all 0.1s;
}

#camPopup-inner-popup-top,
#micPopup-inner-popup-top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#camPopup-inner-popup-top-header,
#camPopup-inner-popup-bottom-header,
#micPopup-inner-popup-top-header,
#micPopup-inner-popup-bottom-header {
    width: 92%;
    height: 20%;
    color: var(--white);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#camPopup-inner-popup-top-main,
#camPopup-inner-popup-bottom-main,
#micPopup-inner-popup-top-main,
#micPopup-inner-popup-bottom-main {
    width: 92%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vh 0;
}

#camPopup-inner-popup-top-main,
#micPopup-inner-popup-top-main {
    border-bottom: solid 1px #707070;
}

#camPopup-inner-popup-bottom,
#micPopup-inner-popup-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#micPopup {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}

#micPopup-inner {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.camPopup-inner-popup-top-main-row,
.camPopup-inner-popup-bottom-main-row,
.micPopup-inner-popup-top-main-row,
.micPopup-inner-popup-bottom-main-row {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.camPopup-inner-popup-top-main-row-left,
.camPopup-inner-popup-bottom-main-row-left,
.micPopup-inner-popup-top-main-row-left,
.micPopup-inner-popup-bottom-main-row-left {
    width: 90%;
    height: 100%;
    color: #707070;
    font-size: 1rem;
    font-weight: bold;
}

.camPopup-inner-popup-top-main-row-right,
.camPopup-inner-popup-bottom-main-row-right,
.micPopup-inner-popup-top-main-row-right,
.micPopup-inner-popup-bottom-main-row-right {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camPopup-inner-popup-top-main-row-right-circle,
.camPopup-inner-popup-bottom-main-row-right-circle,
.micPopup-inner-popup-top-main-row-right-circle,
.micPopup-inner-popup-bottom-main-row-right-circle {
    width: 1.6vh;
    height: 1.6vh;
    appearance: none;
    background-color: #2A2A2F;
    border: solid 2px #707070;
    border-radius: 100%;
    padding: 2px;
}

.camPopup-inner-popup-top-main-row-right-circle:checked,
.camPopup-inner-popup-bottom-main-row-right-circle:checked,
.micPopup-inner-popup-top-main-row-right-circle:checked,
.micPopup-inner-popup-bottom-main-row-right-circle:checked {
    background-color: #5F55AC;
}

.camPopup-inner-popup-top-main-row-right-circle:focus,
.camPopup-inner-popup-bottom-main-row-right-circle:focus,
.micPopup-inner-popup-top-main-row-right-circle:focus,
.micPopup-inner-popup-bottom-main-row-right-circle:focus {
    outline: none;
}

#canvas {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 3px black;
}

.canvas-container {
    width: 100% !important;
    height: 100% !important;
}

.canvas-background-img {
    width: 35%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.5vw;
}

.canvas-background-img:focus {
    outline: none;
}

.btn-export-to-json {
    width: 25%;
    height:50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
}

.btn-export-to-json:hover {
    cursor: pointer;
}

.text-editor-title {
    width: 100%;
    height: 68px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.text-editor-title p {
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
    color: var(--dark-grey);
}

.text-editor-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    background: #fafafa;
    border-top: 2px solid #f2f2f2;
    padding: 10px;
}

.text-editor-item p {
    margin-left: 10px;
    color: #38383890;
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;
}

.text-editor-item input[type="color"] {
    width: 30px;
    height: 30px;
    border: 2px solid #CBCBCB;
    border-radius: 10px;
}

.text-editor-item input[type="color"]:hover {
    cursor: pointer;
}

.text-editor-item input[type="color"]:focus {
    outline: none;
}

.text-editor-item input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 10px;
    padding: 0;
}

.text-editor-item input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
}

.text-font-family {
    width: 38%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.3vw;
}

.text-font-family {
    outline: none;
}

.text-font-family:hover {
    cursor: pointer;
}

.text-font-family option:hover {
    cursor: pointer;
}

.font-size-text {
    width: 35%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.5vw;
}

.font-size-text:focus {
    outline: none;
}

.text-isbold {
    width: 1.4vw;
    height: 1.4vw;
}

.text-isbold:hover {
    cursor: pointer;
}

.text-isitalic {
    width: 1.4vw;
    height: 1.4vw;
}

.text-isitalic:hover {
    cursor: pointer;
}

.text-centerYX {
    width: 25%;
    height:50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
}

.text-centerYX:hover {
    cursor: pointer;
}

.text-char-spacing {
    width: 35%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.5vw;
}

.text-char-spacing:focus {
    outline: none;
}

.btn-text-style {
    width: 20%;
    height:50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 0 0.2vw;
}

.btn-text-style:hover {
    cursor: pointer;
}

.btn-text-align {
    width: 14.5%;
    height: 50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 0 0.2vw;
}

.btn-text-align:hover {
    cursor: pointer;
}

.img-stroke-width {
    width: 35%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.5vw;
}

.img-stroke-width:focus {
    outline: none;
}

.img-grayscale-img {
    width: 20%;
    height: 50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 0 0.2vw;
}

.img-grayscale-img:hover {
    cursor: pointer;
}

.img-grayscale-val {
    width: 35%;
    height: 50%;
    background-color: var(--white);
    border: solid 1px var(--light-grey);
    padding-left: 0.5vw;
}

.img-grayscale-val:hover {
    cursor: pointer;
}

.img-grayscale-val:focus {
    outline: none;
}

.toggleButton {
    width: 30%;
    height: 50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 0 0.2vw;
}

.img-removeColor-img, .img-brightness-img, .img-opacity-img {
    width: 20%;
    height: 50%;
    background-color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.8rem;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 0 0.2vw;
}

.img-removeColor-slider-img, .img-brightness-slider-img, .img-opacity-slider-img {
    margin: 0 0.5vw;
}


/*shortcut Popup*/

#shortcutPopup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200 !important;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
}

#shortcutPopup-inner {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#shortcutPopup-inner-popup {
    width: 12vw;
    height: 13vh;
    z-index: 300 !important;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0vh 1vw;
    opacity: 0;
    padding-left: 1vw;
    transition: all 0.1s;
}

#shortcutPopup-inner-popup-headline {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: bold;
}

#shortcutPopup-inner-popup-change {
    width: 80%;
    height: 28%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 0.8vw;
}


#shortcutPopup-inner-popup-change:hover {
    cursor: pointer;
}