* {
    font-family: 'Karla';
}

[contenteditable] {
    outline: none;
}

.ellipsis {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    height: 100vh;
    width: 100%;
    background: #F6F4F9;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.header-nav {
    height: 7vh;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 5px #00000050;
}

.header-nav p {
    padding: 0 !important;
    margin: 0 !important;
    color: var(--dark-grey);
}

.header-nav #logo {
    font-weight: bold;
    font-size: 26px;
    margin: 0px 50px 0px 50px !important;
}

.content-right-container {
    margin-left: auto;
    text-align: right;
}

.content-right-container p:nth-of-type(1) {
    font-weight: bold;
}

.nav-profile-image {
    width: 50px;
    height: 50px;
    background: url('../img/profile_img.png');
    background-position: center;
    background-size: cover;
    margin-right: 55px;
    margin-left: 20px;
    border-radius: 50%;
}

.main-content {
    height: 93vh;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
}

.task-content {
    margin: 1%;
    width: 81%;
    height: 98%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #00000020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar-task {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--dark-grey);
    font-weight: bold;
    box-shadow: 0px 3px 3px #00000025;
    position: relative;
}

.top-bar-task p {
    margin-left: 30px;
}

.top-bar-task ion-icon {
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}

.calendar-row {
    height: 6%;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    box-shadow: 0px 3px 3px #00000020;
}

.visibility-popup {
    position: absolute;
    background: #F8F7F9;
    box-shadow: 0px 1px 10px #00000070;
    width: 245px;
    height: 250px;
    top: 13%;
    right: 3%;
    border-radius: 15px;
    z-index: 2;
    overflow: auto;
}

.visibility-popup::-webkit-scrollbar {
    display: none;
}

.visibility-popup #title {
    margin: 14px;
    color: #383838;
    font-weight: bold;
    font-size: 18px;
}

.visibility-popup-checkbox {
    margin: 14px;
    display: flex;
    width: 217px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #00000020;
    display: flex;
    align-items: center;
}

.visibility-popup-checkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin: 0 0.5vw;
}

.checkmark {
    background: var(--dark-grey)
}

.visibility-class {
    display: none !important;
    visibility: hidden !important;
}

.calendar-row .calendar-day {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.calendar-row-days {
    display: flex;
    width: calc(100% - 30px);
}

.spacing-calendar {
    width: 15px;
    height: 100%;
    background-color: var(--dark-grey);
}

.task-of-presentations {
    height: 86%;
    width: calc(100% - 30px);
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentation-header {
    width: 100%;
    height: 5vh;
    margin-top: 80px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.presentation-header p {
    padding: 0 !important;
    margin: 0 !important;

    font-size: 19px;
    color: #797979;
    font-weight: bold;
}

.profile-images {
    height: 100%;
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
}

.presentation-header .profile-images .user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    background-size: cover;
    background-position: center;
}

.spacer-header {
    height: 3px;
    flex: 1;
    background: #70707020;
}

.task-row {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(to right, #70707020 3px, transparent 1px);
    position: relative;
}

.task-item {
    height: 60px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.task-item p {
    margin-left: 10px;
    color: white;
}

.user-task {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.presentation-section {
    width: 100%;
}

.cur-day-active {
    background: #383838!important;
}

.cur-day-active p {
    color: white;
}

.active-bar {
    position: absolute;
    background: #F8A5C2;
    width: 7px;
    z-index: 1;
    top: 10px;
    box-shadow: 0px 0px 5px #F8A5C2;
    display: none;
}

.top-active {
    background: #F8A5C2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    box-shadow: 0px 0px 5px #F8A5C2;
}

.task-item:hover {
    cursor: pointer;
}

#taskPopup {
    width: 19vw;
    height: 40vh;
    position: absolute;
    display: none;
    z-index: 100;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#taskPopup-top {
    width: 96%;
    height: 12%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskPopup-top-left {
    width: 50%;
    height: 70%;
    background-color: red;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 0.3vw;
}

#currentPresentation {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#taskPopup-top-left-icon {
    font-size: 1.3rem;
    color: var(--white);
}

#taskPopup-top-left-icon:hover {
    cursor: pointer;
}

#taskPopup-top-right {
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--dark-grey);
}

#taskPopup-top-right:hover {
    cursor: pointer;
}

#taskPopup-second {
    width: 96%;
    height: 10.6%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskPopup-second-headline {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#taskPopup-third {
    width: 96%;
    height: 1.4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#taskPopup-third-line {
    width: 24%;
    height: 100%;
    background-color: var(--dark-grey);
    margin-left: 0.1vw;
}

#taskPopup-fourth {
    width: 96%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#taskPopup-fourth-left {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#taskPopup-fourth-left-image {
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 100%;
    background-color: var(--dark-grey);
    background-position: center;
    background-size: cover;
}

#taskPopup-fourth-middle {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#taskPopup-fourth-right {
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--dark-grey);
}

#taskPopup-fourth-right-icon:hover {
    cursor: pointer;
}

#taskPopup-fifth {
    width: 96%;
    height: 18%;
    display: flex;
    flex-wrap: wrap;
}

#taskPopup-fifth-headline {
    width: 50%;
    height: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#taskPopup-fifth-date {
    width: 50%;
    height: 70%;
}

#taskPopup-fifth-date-start, #taskPopup-fifth-date-end {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
}

#taskPopup-fifth-date-start:hover, #taskPopup-fifth-date-end:hover {
    cursor: pointer;
}

#taskPopup-sixth {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#taskPopup-sixth-top {
    width: 96%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

#taskPopup-sixth-top-headline {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#taskPopup-sixth-top-add {
    width: 10%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-starts;
    align-items: center;
}

#taskPopup-sixth-top-add:hover {
    cursor: pointer;
}

#taskPopup-sixth-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.4vh;
    overflow: auto;
}

.taskPopup-sixth-bottom-row {
    width: 90%;
    height: 4vh;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.taskPopup-sixth-bottom-row-left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskPopup-sixth-bottom-row-left-input {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 10px;
    background-color: var(--light-grey);
}

.taskPopup-sixth-bottom-row-right {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--dark-grey);
}

#taskPopup-sixth-bottom::-webkit-scrollbar {
    display: none;
}

#taskPopup-last {
    width: 96%;
    height: 16%;
}

#taskPopup-last-top {
    width: 100%;
    height: 20%;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#taskPopup-last-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#taskPopup-last-bottom-left {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#taskPopup-last-bottom-left-reactions {
    width: 70%;
    height: 70%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#taskPopup-last-bottom-left-reactions-add {
    width: 1.3vw;
    height: 1.3vw;
    border: dashed 1px var(--dark-grey);
    border-radius: 100%;
    margin-left: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#taskPopup-last-bottom-left-reactions-add:hover {
    cursor: pointer;
}

#taskPopup-last-bottom-right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskPopup-last-bottom-right-inner {
    width: 2vw;
    height: 2vw;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

#taskPopup-last-bottom-right-inner:hover {
    cursor: pointer;
}

#presentationPopup {
    width: 14vw;
    height: 30vh;
    position: absolute;
    display: none;
    z-index: 100;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#presentationPopup-top {
    width: 92%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#presentationPopup-top-headline {
    width: 100%;
    height: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#presentationPopup-top-current {
    width: 78%;
    height: 45%;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
}

#presentationPopup-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#presentationPopup-bottom::-webkit-scrollbar {
    display: none;
}

#presentationPopup-bottom-search {
    width: 80%;
    min-height: 24%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin: 0.1vh 0 1vh 1vw;
    background-color: var(--light-grey);
}

#presentationOutput {
    width: 100%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

#presentationPopup-bottom-search-input {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 1vw;
    background-color: var(--light-grey);
    font: 1rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#presentationPopup-bottom-search-input::placeholder {
    font: 1rem;
    color: var(--dark-grey);
    font-weight: normal;
    opacity: 0.7;
}

.presentationPopup-bottom-presentations {
    width: 74%;
    min-height: 30%;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5vh 0 1vh 1vw;
    padding-left: 1vw;
}

#personPopup {
    width: 14vw;
    height: 30vh;
    position: absolute;
    display: none;
    z-index: 100;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#personPopup-top {
    width: 92%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#personPopup-top-headline {
    width: 100%;
    height: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#personPopup-top-current {
    width: 80%;
    height: 45%;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5vw;
}

#personPopup-top-current-image {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 100%;
    background-color: var(--dark-grey);
    margin-right: 0.4vw;
}

.currentUser {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#personPopup-bottom {
    width: 100%;
    height: 60%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#personPopup-bottom::-webkit-scrollbar {
    display: none;
}

#personPopup-bottom-search {
    width: 78%;
    min-height: 24%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin: 0.3vh 0 1vh 1vw;
    background-color: var(--light-grey);
}

#personPopup-bottom-search-input {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 1vw;
    background-color: var(--light-grey);
    font: 1rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#personPopup-bottom-search-input::placeholder {
    font: 1rem;
    color: var(--dark-grey);
    font-weight: normal;
    opacity: 0.7;
}

#userOutput {
    width: 100%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

.personPopup-bottom-persons {
    width: 74%;
    min-height: 30%;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dark-grey);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5vh 0 1vh 1vw;
    padding-left: 0.5vw;
}

.personPopup-bottom-persons-image {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 100%;
    background-color: var(--dark-grey);
    margin-right: 0.4vw;
}

#subTaskPopup {
    width: 14vw;
    height: 10vh;
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

#subTaskPopup-top {
    width: 96%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#subTaskPopup-bottom {
    width: 96%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#subTaskPopup-bottom-input {
    width: 76%;
    height: 2vw;
    border: none;
    outline: none;
    background-color: var(--light-grey);
    border-radius: 10px;
    padding-left: 0.5vw;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--dark-grey);
}

#subTaskPopup-bottom-input::placeholder {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--dark-grey);
    opacity: 0.7;
}

#subTaskPopup-bottom-add {
    width: 2vw;
    height: 2vw;
    background-color: var(--dark-grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 0.3vw;
}

#subTaskPopup-bottom-add:hover {
    cursor: pointer;
}

#reactionPopup {
    width: 2.3vw;
    height: 18vh;
    position: absolute;
    z-index: 100;
    border-radius: 100px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 0;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.reactionPopup-box {
    width: 1.8vw;
    height: 1.8vw;
    background-color: var(--light-grey);
    border-radius: 100%;
}

#addTask {
    z-index: 300;
}

#addTask:hover {
    cursor: pointer;
}