* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Karla;
}

h1 {
    color: #383838;
}

p {
    color: rgba(56, 56, 56, 0.6)
}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 0 20px 0 50px;
    height: 45px;
    outline: none;
    border: none;
    background: #F6F4F9;
    border-radius: 8px;
    min-width: 200px;
}

.myUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.myUl li {
    margin: 2vw 2vw 0 2vw;
    cursor: pointer;
}

.myUl li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.myUl li a:hover:not(.header) {
    background-color: #eee;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 50px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    min-width: fit-content;
    height: fit-content;
    color: #C6C6C6;
}

.input-field {
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 2vw;
}

.searchbox {
    width: 45%;
    position: relative;
}

.createPresentation {
    width: fit-content;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.createPresentation i {
    width: 20px;
}

.template, .template_yourPresentation {
    width: 14vw;
    height: 7.875vw;
    background: white;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4%;
}

.searchitem, .searchitem_yourPresentation {
    font-weight: bolder;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 2vw 0 2vw;
}

#contentbox {
    position: relative;
    width: 83%;
    height: 93vh;
    overflow: auto;
}

.navandcontent {
    display: flex;
    height: 93vh;
    width: 100vw;
}

.fa-eye {
    opacity: 0;
    background: white;
    padding: 2%;
    border-radius: 100%;
    right: 0;
    transition: all .2s;
    bottom: 0;
}

.template:hover .fa-eye, .template_yourPresentation:hover .fa-eye {
    opacity: 1;
}

.usetemplatebox {
    width: 100vw;
    height: 100vh;
    background: rgba(56, 56, 56, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#usetemplateboxheader {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#niggas div, #template_title, #downloadamount, #createddate {
    color: white;
}

#niggas, #niggas div {
    display: flex;
    align-items: center;
}

#usetemplate {
    color: black;
    background: white;
    padding: 1% 2%;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

#template_big i {
    color: white;
    font-size: 300%;
    cursor: pointer;
}