* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Karla;
    outline: none;
}

h1 {
    color: #383838;
}

p {
    color: rgba(56, 56, 56, 0.6)
}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 0 20px 0 50px;
    height: 45px;
    outline: none;
    border: none;
    background: #F6F4F9;
    border-radius: 8px;
    min-width: 200px;
}

.myUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.myUl li {
    margin: 2vw 2vw 0 2vw;
    cursor: pointer;
}

.myUl li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.myUl li a:hover:not(.header) {
    background-color: #eee;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 50px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    min-width: fit-content;
    height: fit-content;
    color: #C6C6C6;
}

.input-field {
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 2vw;
}

.searchbox {
    width: 45%;
    position: relative;
}

.createPresentation {
    width: fit-content;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.createPresentation i {
    width: 20px;
}

.template, .template_yourPresentation {
    width: 14vw;
    height: 7.875vw;
    background: white;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4%;
}

.searchitem, .searchitem_yourPresentation {
    font-weight: bolder;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 2vw 0 2vw;
}

#contentbox {
    position: relative;
    width: 83%;
    height: 93vh;
    overflow: auto;
}

.navandcontent {
    display: flex;
    height: 93vh;
    width: 100vw;
}

.fa-eye {
    opacity: 0;
    background: white;
    padding: 2%;
    border-radius: 100%;
    right: 0;
    transition: all .2s;
    bottom: 0;
}

.template:hover .fa-eye, .template_yourPresentation:hover .fa-eye {
    opacity: 1;
}

#usetemplatebox {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.89);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#usetemplateboxheader {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#statsbox div, #template_title, #downloadamount, #createddate {
    color: white;
}

#statsbox, #statsbox div {
    display: flex;
    align-items: center;
}

#statsbox div {
    padding-right: 10%;
}

#statsbox div i {
    margin-right: 3%;
}

#usetemplate {
    color: black;
    background: white;
    padding: 1vh 2vw;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

#usetemplate:hover {
    background: #f1f1f1;
}

.closeicon {
    color: white;
    font-size: 200%;
    position: absolute;
    right: 10vw;
    cursor: pointer;
}

#controllsbox {
    display: flex;
    align-items: center;
}

#template_big i, #template_small i {
    color: white;
    font-size: 300%;
    cursor: pointer;
}

#template_small i {
    font-size: 150%;
}

#template_big_img {
    width: 70%;
    margin: 3%;
    border: solid 1px white;
}

#template_small_img {
    width: 100%;
    margin: 3%;
}

#template_big, #template_small {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#template_scroll {
    width: 70vw;
    position: relative;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

#template_scroll img {
    width: 12vw;
    border: solid 1px white;
}

#template_scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */

#template_scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

#template_scroll::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

#template_scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.controllsandshareview {
    width: 70vw;
    display: none;
    justify-content: space-between;
}

.templateshareview {
    width: 40vw;
    margin-right: 5vw;
}

.profile {
    display: flex;
    align-items: center;
    margin: 1vh 0;
}

.profile img {
    width: 5vw;
    height: 5vw;
    margin-right: 1vh;
    border: solid 2px black;
    border-radius: 100%;
}

.shareview {
    width: 100%;
    background-color: white;
    padding: 2vw;
    border-radius: 10px;
    height: fit-content;
}

.shareview h2 {
    font-size: large;
    margin-bottom: 1vh;
}

.shareview h3 {
    font-size: medium;
    color: #383838;
    margin-top: 2vh;
}

.shareview p {
    font-size: small;
}

.name {
    font-weight: bolder;
    color: #383838;
}

.acceptedbox, .pendingbox {
    max-height: 20vh;
    overflow: auto;
}

.controlls {
    width: 30vw;
    height: 100%;
    background: white;
}