* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.sidenavW3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f7f9;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenavW3 nav {
    position: absolute;
    left: 3vw;
    top: 3vh;
    min-width: fit-content;
    letter-spacing: 2px;
}

.sidenavW3 h2 {
    font-size: 25px;
    color: #908f90;
    margin: 10px 0;
}

.sidenavW3 i, .sidenavW3 span {
    text-align: center;
    min-width: fit-content;
    width: 40px;
    font-size: medium;
}

.sidenavW3 a {
    padding: 15px 0;
    text-decoration: none;
    color: #908f90;
    transition: 0.3s;
    display: block;
    font-size: small;
}

.sidenavW3 a span {
    right: 0;
    position: absolute;
}

.sidenavW3 a:hover {
    color: #818181;
}

.sidenavW3 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openCloseNav {
    position: absolute;
    top: 5vh;
    left: 3vh;
    z-index: 5;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 5px 8px;
}

#openCloseNav div {
    background: #6B6B6B;
    height: 3px;
    border-radius: 10px;
    margin: 5px;
}

#openCloseNav div:nth-child(1) {
    width: 40px;
}

#openCloseNav div:nth-child(2) {
    width: 30px;
}

#openCloseNav div:nth-child(3) {
    width: 20px;
}

#fullpage, #fp-nav, #openCloseNav {
    transition: all .5s;
}

#fp-nav ul li {}

@media screen and (max-height: 450px) {
    .sidenavW3 {
        padding-top: 15px;
    }
    .sidenavW3 a {
        font-size: 18px;
    }
}

.intro {
    color: #908f90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
}

.intro h1 {
    position: absolute;
    top: 5vh;
}

.intro footer {
    width: 100%;
    position: absolute;
    bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro footer h2, #yut h2 {
    font-size: medium;
    font-weight: lighter;
}

.intro footer p, #yut p {
    color: black;
    font-size: medium;
    font-weight: bolder;
    margin-top: 5px;
}

.intro footer button {
    text-decoration: none;
    border: solid lightgray 2px;
    padding: 10px 50px;
    background: none;
    color: #908f90;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

.intro footer button:hover {
    border: solid #908f90 2px;
    color: #818181;
}

.intro #name {
    height: 25vh;
}

.intro content p {
    text-align: right;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
}

#PP {
    position: relative;
    width: 100%;
    border-radius: 100%;
    box-shadow: 70px -35px rgba(188, 186, 191, 0.3);
}

#ppContainer {
    width: 20%;
    border-radius: 100%;
}

.Task {
    position: relative;
    background: #f1f1f1;
    box-shadow: 2px 2px 4px 0px lightgray;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
}

.Task h2, .Task p {
    font-size: 12px !important;
}

.Task p {
    margin-bottom: 3px;
}

#yut {
    width: 20%;
    position: relative;
}

#PPc {
    min-width: 10px;
    width: 7%;
    max-width: 17px;
    border-radius: 100%;
    float: right;
    background: white;
    padding: 1px;
    top: -17px;
    position: relative;
}

#Profile {
    width: 50%;
    margin-left: 50px;
    bottom: 5%;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    scroll-behavior: smooth;
}

/* width */

#Profile::-webkit-scrollbar {
    width: 5px;
}

/* Track */

#Profile::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

#Profile::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

#Profile::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#missingConfigurations .configshadow {
    box-shadow: 0 0 5px lightgray;
}

#missingConfigurations h2 {
    font-size: medium;
}

#missingConfigurations p {
    font-size: small;
}

p#mCDescription {
    margin-bottom: 15px;
}

.configs {
    display: flex;
    min-width: 100px;
    width: 100%;
    border: solid 1px lightgray;
    height: 40px;
    align-items: center;
}

.deleteconfig {
    color: #ff3943;
    padding: 0 15px;
}

.whoami {
    display: flex;
    align-items: center;
    min-height: fit-content;
    height: 25vh;
}

.whoami p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 150%;
}

#secPP {
    position: relative;
    width: 100%;
    border-radius: 100%;
    box-shadow: 35px -15px rgba(188, 186, 191, 0.3);
}

#secppContainer {
    width: 25%;
    max-width: 150px;
    border-radius: 100%;
    margin-right: 10%;
}

hr {
    border: none;
    border-top: solid rgba(188, 186, 191, 0.3) 1px;
}

form {
    margin: 3% 0;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form span {
    font-weight: bolder;
    color: #6B6B6B;
    font-size: small;
}

.inpbox {
    width: 45%;
}

form input, #confirm input {
    background: #E9EAEE;
    border: solid 1px #E3E3E3;
    color: #9C9FAA;
    font-size: small;
    width: 100%;
    min-height: 20px;
    position: relative;
    padding: 5px 7px;
    outline: none;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

form input:focus, #confirm input:focus {
    background-color: #FDFBE3;
}

.clearfloat {
    clear: both;
}

.twofactorauthentication, .accountremoval {
    margin: 3% 0;
}

.twofactorauthentication p, .accountremoval p {
    margin: 15px 0;
    line-height: 18px;
}

.twofactorauthentication p, .accountremoval p, .twofactorauthentication button, .accountremoval button {
    font-size: small;
}

.twofactorauthentication h2, .accountremoval h2 {
    color: #6B6B6B;
    min-height: 60px;
}

.twofactorauthentication button {
    background: #383838;
    border: solid 1px #707070;
    font-weight: bolder;
    border-radius: 7px;
    padding: 10px 5px;
}

.accountremoval button {
    background: #F04742;
    border: none;
    border-radius: 7px;
    padding: 10px 23px;
}

.accountremoval, .twofactorauthentication {
    width: 46%;
}

.settingsbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.accountremoval span {
    color: #EB4D4B;
}

.twofactorauthentication button, .accountremoval button {
    color: white;
}

.popupbox {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.popup {
    background: white;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 5px lightgray;
    border-radius: 20px;
    /* text-align: center; */
}

.popup h1 {
    font-size: larger;
    text-align: center;
}

.popup h2 {
    font-size: medium;
    margin: 10px 0;
    font-weight: lighter;
    text-align: center;
}

.popup p {
    font-size: small;
    text-align: center;
    color: #9C9FAA;
}

#tf {
    display: none;
}

#del {
    display: none;
}

.trashcanicon, .lockicon {
    margin-bottom: 20px;
    border-radius: 100%;
    background: #FEEDEF;
    font-size: 30px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF495E;
}

.lockicon {
    background: #E7F2FF;
    color: #4E82FC;
    transition: all .2s;
}

.buttons {
    margin-top: 40px;
    width: 100%;
}

#cancelbutton, #deletebutton, #deleteButtonConf {
    color: white;
    background: #646568;
    border: none;
    border-radius: 10px;
    width: 45%;
    position: relative;
    height: 40px;
    margin: 0 2%;
    outline: none;
    cursor: pointer;
}

#deletebutton {
    background: #FF495E;
}

#confirm {
    display: none;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

#confirmtext {
    width: 100%;
    background: #E9EAEE;
    border: solid 1px #E3E3E3;
}

#confirm input {
    padding: 10px 10px;
    margin: 5px 0;
}

#confirm p {
    color: black;
}

#deleteButtonConf {
    width: 100%;
    margin: 0;
    background: #FF495E;
}

#deleteButtonConf:disabled, #deleteButtonConf[disabled] {
    background: #FFBFC7;
}

#activated:disabled, #activated[disabled] {
    background-color: #EBEBF0;
    color: rgba(0, 0, 0, 0.64);
}

.figures {
    display: flex;
}

.mm-number input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 7px;
    outline: none;
    border: solid #4471D0 2px;
    width: 35px;
    height: 50px;
    text-align: center;
    margin: 30px 10px 0 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #4471D0;
}

.mm-number input::-webkit-input-placeholder {
    /* Edge */
    color: #4471D0;
}

.mm-number input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4471D0;
}

.mm-number input::placeholder {
    color: #4471D0;
}

.mm-number input::-webkit-outer-spin-button, .mm-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mm-number input[type=number] {
    -moz-appearance: textfield;
}

#marginp {
    margin: 10px 0;
}

.mm-number-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mm-number-input, .mm-number-container, .mm-number {
    width: 100%;
}

.mm-number-input-item {
    width: fit-content;
}

.shake {
    animation: shake 0.5s linear 0s;
}

@keyframes shake {
    0% {
        border-color: #F1586A;
        color: #F1586A;
        transform: translate(4px, 0);
    }
    10% {
        transform: translate(-4px, 0);
    }
    20% {
        transform: translate(4px, 0);
    }
    30% {
        transform: translate(-4px, 0);
    }
    40% {
        transform: translate(4px, 0);
    }
    50% {
        transform: translate(-4px, 0);
    }
    60% {
        transform: translate(-4px, 0);
    }
    70% {
        transform: translate(4px, 0);
    }
    100% {
        border-color: #F1586A;
        color: #F1586A;
    }
}

#activated {
    width: 95%;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 20px;
    background: #4C6EFF;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.innersettings {
    background: #E5E5EA;
    color: rgba(0, 0, 0, 0.8) !important;
    margin: 10px 0;
    border-radius: 10px;
}

.dropdownsidebar {
    border-right: #383838 solid 3px;
    padding-right: 20px;
}

.dropdown {
    display: none;
}