body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 !important;
    padding: 0 !important;

    padding-left: 7vw !important;
    padding-right: 7vw !important;

    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;        cursor: default;
}


.top-bar  {
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    font-size: 1.6rem;
    font-weight: bold;
}


#top-bar-subpoints {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}


#top-bar-subpoints .active {
    color: #0c122a !important;
}


#top-bar-subpoints p {
    color: rgba(92, 92, 92, 0.5);
    font-size: 1rem;
    padding: 0 1.5vw 0 1.5vw;
    cursor: pointer;
}


#top-bar-section-right {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.right-section-container {
    padding: 0vh 1.5vw 0vw 1.5vw;
    font-size: .9rem;
}

#top-bar-section-right #top-bar-login {
    color: #0c122a;
    margin-right: 0.5vw;
}

#top-bar-section-right #top-bar-sign {
    color: white;
    background: #0c122a;
    border-radius: 15px;
    margin-left: 0.5vw;
}




#first-section-intro {
    padding-top: 10vh;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   

}

#first-section-intro h1 {
    text-align: center;
    margin: 2vw;
}

#first-section-intro #first-section-img {
    width: 55%;
    align-self: center;
    margin-bottom: 3%;
}

.company-element {
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 8px;
    position: absolute;

    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);

    background-color: transparent;
    opacity: 0;

    transition: all 0.2s;
}


.fadeIn {
    opacity: 1;
}


#second-section {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}




#second-section-right {
    width: 50%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1590402494682-cd3fb53b1f70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
    background-size: cover;
    background-position: center;
}


#second-section-left {
    width: 45%;
    height: 100%;
    background: #f8f8fa;

    padding: 0vw 0% 0vw 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#second-section-left p, h1 {
    padding: 0.5rem !important;
    margin: 0 !important;
}

#second-section-left #trial {
    font-weight: 100;
    font-size: 1.1rem;
}



#get-started-button {
    align-self: flex-start;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    background: #0c122a;
    color: white;
    border-radius: 15px;
    margin-top: 2vw;
    
}

#second-section-title {
    font-size: 4rem;
    line-height: 1;
}


.vert-spacer {
    width: 80%;
    height: 3px;
    background: rgba(0,0,0,0.11);
    margin-top: 8vh !important;
    margin-bottom: 8vh !important;
    border-radius: 10px;
    filter: blur(10);
}


#newsletter-section {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
}

#newsletter-section h1 {
    font-size: 2.5rem;
    margin: 0 !important;
}

#newsletter-section p {
    margin: 0 !important;
    opacity: 0.8;
}


#notify-container {
    width: 45%;
    height: auto;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#notify-newsletter-input {
    outline: none;
    border: none;

    font-size: 1.1rem;
    font-weight: 400;

    padding: 1vw;
    background: #f8f8fa;

    border: #e7e7e7 2px solid;
    border-radius: 15px;
    width: 38%;
    margin-right: .5vw;

}

#subscribe-newsletter {
    background: #0c122a;
    padding: 1vw 2vw 1vw 2vw;
    color: white;
    border-radius: 15px;
    margin-left: .5vw;
}

#subscribe-newsletter > p {
    opacity: 1;
}


#footer-section {
    width: 100%;
    height: 40vh;
    background: #f8f8f8;
    margin-bottom: 3vh;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#footer-section div {
    height: 80%;
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-section h1 {
    font-size: 1.4rem;
    margin: 0 !important;
    padding: 0 !important;

    width: 80%;    text-align: left;
}

#footer-section h3 {
    font-size: 0.8rem;
    margin: 0 !important;
    margin-top: auto !important;
    margin-bottom: 10% !important;
    padding: 0 !important;
    font-weight: 400;
    opacity: 0.8;

    width: 80%;    text-align: left;
}



#footer-section p {
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.8;
    width: 80%;    text-align: left;
}

#footer-section h2 {
    width: 80%;    text-align: left;

    font-size: 1.15rem;
    color: #383838;
    opacity: 0.8;
    margin: 0 !important;
    margin-bottom: 2vh !important;
    padding: 0 !important;
}


#footer-section h4 {
    font-weight: 400;
    font-size: 0.85rem;
    opacity: 0.8;
    margin: 0 !important;
    margin-bottom: 1.8vh !important;

    width: 80%;    text-align: left;
}

#footer-column-first {
    display: flex;
    flex-direction: column;
}


#social-media-buttons {
    display: flex !important;
    flex-direction: row !important;
    height: auto !important;
    width: 80% !important;
}

.social-media-btn {
    width: 37px !important;
    height: 37px !important;
    margin-right: 1vw !important;
    background: #e7e7e7;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#section-pricing {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#pricing-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

#pricing-container div {
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing-container > div > p {
    text-align: center !important;
}

.pricing-sub-element {
    width: 30%;
    background: white;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);

}

#pricing-container > div > h3 {
    opacity: 0.7;
    font-size: 1.3rem;
}

.pricing-sub-element h3 {
    color: black;
}

.pricing-main-element h3 {
    color: white !important;
    opacity: 1 !important;
}

.pricing-main-element > .pricing-price-sub {
    opacity: 1 !important;
}

.pricing-main-element {
    width: 30%;
    z-index: 2;
    background: #7289da;

    padding-top: 3vh;
    padding-bottom: 3vh;
}


.pricing-price-sub {
    font-size: 3rem !important;
    font-weight: bold;
    margin: 0 !important;
    color: black;
    opacity: 0.8;
}



.pricing-spacer {
    width: 80%;
    height: 2px !important;
    background: rgba(0, 0, 0, 0.14);
}

.pricing-learn-more {
    width: 80%;
    height: auto !important;
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
}

.sub-pricing-button {
    background: #7289da;
    color: white !important;
}
.main-pricing-button {
    background: white !important;
    color: #0c122a !important;
}

.pricing-main-element > p{
    color: white;
}

.pricing-main-element > .pricing-spacer {
    background: white;
}






#work-with-us-section {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#work-with-left-section {
    width: 45%;
    height: 100%;
}

#work-with-left-section > p {
    font-size: 1.2rem;
}

#work-with-title {
    font-weight: 400;
    font-size: 3.7rem;
}



#work-with-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#work-with-buttons > div {
    margin-right: 2vw;
    padding: 0.2vw 1vw 0.2vw 1vw;
    border-radius: 15px;
}

#work-with-buttons > div > p {
    padding: 0 !important;
}

#work-with-buttons > #work-with-get-started {
    background: #0c122a;
    color: white;
}


#work-with-right-section {
    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
}

#work-with-right-section > div {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}


#work-with-right-section > div > img {
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 5px;
}


#section-templates {
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-templates-title {
    width: 80%;
    font-size: 2.6rem;
}

#section-templates-subtitle {
    width: 80%;
    font-size: 1.2rem;
}

#slideshow-container {
    width: 100%;
    height: 40vh;
    margin-top: 5vh;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.slideshow-item {
    height: 75%;
    width:30% !important;
    margin: .5vw;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;

    background-size: cover;
    background-position: center;

    border-radius: 15px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}

.slideshow-item:nth-child(even) {
    margin-top: -3vh;
}

.slideshow-item:nth-child(odd) {
    margin-top: 3vh;
}


.slideshow-item > p {
    margin: 1rem !important;
    color: white;
}

#section-customers {
    width: 90%;
    height: auto;
}

#section-customers > h1 {
    font-size: 2.8rem;
}

#section-customers > p {
    font-size: 1.1rem;
}


#customers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8vh;
    margin-bottom: 5vh;
}

.customer-bubble {
    width: 29%;
    height: auto;

    
    padding: 2vh 2vh 2vh 2vh;
    background: #7289da;

    border-radius: 22px;
}

.customer-bubble-picture-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.customer-bubble-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;

    background-size: cover;
    background-position: center;

}

.customer-bubble-text > p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}


.customer-bubble-name {
    width: 100%;
    text-align: right;

    color: white;
}


#section-special {
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
}

#section-special > h1 {
    font-size: 3rem;
    padding: 0 !important;
}

#section-special-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 3vh;
}


.feature-container {
    width: 29%;
    height: auto;
}

.feature-container > h3 {
    font-size: 1.6rem;
    color: #7289da;
}

#section-how-it-works {
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#section-how-it-works > h1 {
    font-size: 2.8rem;
}

#how-it-works-slider {
    width: 100vw;
    height: 55vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    /*transition: all 400ms ease-in;*/
    transition: all 300ms ease-in-out;
}

#showing-feature-title {
    font-size: 1.4rem;
    user-select: none;
}

#showing-feature-text {
    width: 45vw;
    text-align: center;
    user-select: none;
}

#how-it-works-dots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.how-it-works-dot {
    width: 14px;
    height: 14px;
    border: 2px solid #383838;
    border-radius: 50%;
    margin: 0.3vw;
}

.active-dot {
    background: #383838;
    width: 20px;
    height: 20px;
}


.how-it-works-slider-item {
    height: 80%;
    min-width: 35vw;
    margin: 2vw;
    border-radius: 15px;

    background-size: cover;
    background-position: center;
}


.how-it-works-slide-btn {
    width: 3vw;
    height: 3vw;
    background: #7289da;
    border-radius: 50%;
    margin: 3vw;


    display: flex;
    justify-content: center;
    align-items: center;

}



.icon-slider {
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    opacity: 1;
}


.slider-spacer {
    min-width: calc(50vw - 35vw / 2 - 2vw);
}

#slider-control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}







#download {
    display: flex !important;
    flex-direction: row !important;
    height: auto !important;
    width: 80% !important;
    margin-top: 1vh !important;

}

#download-button {
    width: auto !important;
    padding: 5px 10px;
    background: #e7e7e7;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#download-button > p {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    font-weight: 800;
}

#map-section {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map-section > h1 {
    text-align: center;
}

#map-section > p {
    text-align: center;
    margin-bottom: 5vh;
}

#map{
    width:40%;
    height:60%;
    padding:0;
    margin:0;
    overflow: hidden;
}

#team-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(-50%);
}

.team-member {
    width: 4.0vw;
    height: 4.0vw;
    border-radius: 50%;
    background-size:contain;
    background-position: center;
    border: 3px solid white;
    margin: 0vh 1vh;
}