* {
    font-family: 'Karla';
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.navandquizbox {
    display: flex;
    width: 100vw;
    height: 93vh;
}

.myquizbox {
    position: relative;
    width: 83%;
    height: 93vh;
    overflow: auto;
    padding-bottom: 5%;
}

.searchheader, .boxleft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.searchheader {
    width: 80%;
    padding: 2vw;
}

.searchbox {
    width: 14vw;
    margin-left: 3vw;
    position: relative;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 50px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    min-width: fit-content;
    height: fit-content;
    color: #C6C6C6;
}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 0 20px 0 50px;
    height: 45px;
    outline: none;
    border: none;
    background: #F6F4F9;
    border-radius: 8px;
    min-width: 200px;
}

#newQuiz {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#newQuiz ion-icon {
    border-radius: 100%;
    background: rgb(196, 53, 218);
    background: linear-gradient(90deg, rgba(196, 53, 218, 1) 0%, rgba(219, 60, 70, 1) 100%);
    color: white;
    padding: 8px;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(196, 53, 218, 0.6)
}

#newQuiz p {
    color: white;
    padding: 8px;
    font-size: 20px;
    text-shadow: 0 0 10px rgb(196, 53, 218, 0.6);
    background: -webkit-linear-gradient(90deg, rgba(196, 53, 218, 1) 0%, rgba(219, 60, 70, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.bigquizscrollbar {
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
}

.bigquizscrollbar::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

/* Track */

.bigquizscrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.bigquizscrollbar::-webkit-scrollbar-thumb {
    background: #818181;
}

/* Handle on hover */

.bigquizscrollbar::-webkit-scrollbar-thumb:hover {
    background: #C6C6C6;
}

.bigquizes {
    margin: 2vw;
    height: 20vw;
    width: fit-content;
    display: flex;
    align-items: center;
}

.bigquizes div.quiz {
    height: 20vw;
    width: 20vw;
    border-radius: 10px;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.quiz img {
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.description {
    padding: 1vw;
    height: 30%;
    bottom: 0;
}

.description h2 {
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 1vh;
}

.description div {
    display: flex;
}

.description div p {
    font-size: small;
}

.description div ion-icon {
    margin: 0 .5vw;
}