body {
    background: black;
}

h1,
p {
    color: white;
    font-size: 10vw;
}

#content {
    background-image: url('https://images.unsplash.com/photo-1605221704593-4f491eb60ac6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    overflow: hidden;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}