<p>Authentication for user running....</p>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"
></script>

<script src={{ url_for('static', filename="authentication/auth_flow.js") }} type="text/javascript"></script>

<button onclick="sendRequestToServer('GET', 'http://localhost:5000/auth/test')">sendRequest</button>
<button onclick="logOut()">Log Out</button>
<script type="text/javascript">
  var a_token = "{{ access }}"
  var r_token = "{{ refresh }}"

  localStorage.setItem("a_token", a_token);
  localStorage.setItem("r_token", r_token);

  console.log(a_token, r_token)  
  // window.location.href = "authorization_complete";

  function sendRequest() {
    a_token = localStorage.getItem('a_token')

    $.ajax({
      type: "GET",
      url: "http://localhost:5000/auth/test",
      headers: {
        Authorization: "Bearer " + a_token,
      },
      statusCode: {
        400: function () {
          alert("400 status code! user error");
        },
        401: function () {
          alert("refreshing token..");
          refreshToken()
        },
      },
      success: function (data) {
        alert("horray! 200 status code!");
      },
    });
  }

  function refreshToken() {
     r_token = localStorage.getItem("r_token");
    // test to get user data
    $.ajax({
      type: "POST",
      url: "http://localhost:5000/auth/refresh_token",
      headers: {
        Authorization: "Bearer " + r_token,
      },
      statusCode: {
        400: function () {
          alert("400 status code! user error");
        },
        401: function () {
          alert("500 status code! server error");
        },
      },
      success: function (data) {
        localStorage.setItem("a_token", data);
      },
    });
  }


  function logOut() {
    a_token = localStorage.getItem("a_token");

    $.ajax({
      type: "GET",
      url: "http://localhost:5000/auth/logout",
      headers: {
        Authorization: "Bearer " + a_token,
      },
      statusCode: {
        400: function () {
          alert("400 status code! user error");
        },
        401: function () {
          alert("500 status code! server error");
        },
      },
      success: function (data) {
        window.location.href = "/";
      },
    });
  }
</script>
