
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="Notifications.js" type="module"></script>
    
    
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <style>
        p {
            color: black;
        }
    </style>
</head>
<body>
    <create-workspace path="./styles.css"></create-workspace>

    <script src="invites.js" type="text/javascript" defer></script>
</body>
</html>
