:host {
    margin-top: 1%;
    background: #f7f6f3 !important;
    box-shadow: 1px 0px 10px #00000020;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;        cursor: default;

}

 #title-nav {
    font-size: 24px;
    margin-top: 50px;
    color: #38383880;
    font-weight: bold;
}

.left-side-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}




.nav-bar-element {
    display: flex;
    align-items: center;
    color: #62666d;
    font-weight: bold;
    font-size: 14px;
}

.nav-bar-element:hover {
    background: linear-gradient(90deg, rgba(232,231,228,1) 0%, rgba(238,237,234,1) 65%, rgba(247,246,243,1) 100%);

    cursor:pointer;
    border-left: 3px solid #383838;
}

.soon-item:hover {
    background: #f7f6f3 !important;
    border-left: none !important;
    cursor: default;
}

.team-item:hover {
    background: #e8e7e4;
    cursor:pointer;
}

.nav-bar-element .icon-navbar {
    margin-left: 25px;
    font-size: 20px;
}

.nav-bar-element p {
    margin-left: 20px;
    font-weight: 400;
}

.notification-navbar {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    color: #383838;
    font-weight: bold;
}

.notification-navbar p {
    margin: 0 !important;
}

.soon-btn {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 20px;
    background: #383838;

    padding: .2vw 1vw .2vw 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    color: white;
}

.soon-btn p {
    margin: 0 !important;
}

.soon-item > p {
    opacity: 0.7; 
}


#vert-spacer-side {
    background: rgb(230, 230, 230);
    width: 100%;
    height: 1px;

    margin: 2vh 0vh 2vh 0vh;
}


#teams-title {
    color: #9c9b97;
    font-weight: bold;
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#teams-title > p {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
}

.team-item {
    width: 100%;
    height: auto;
    color: #62666d;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-banner {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 20px 0px 20px;
}

.team-name {
    margin: 0 !important;
    padding: 0 !important;

    font-weight: 400;
    font-size: 1rem;
}

#profile-image-container-sidebar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

#profile-image-container-around {
    width: 6vw;
    height: 6vw;
    padding: 0.5vw;
    background: #383838;
    border-radius: 50%;
    border-radius: center;
    margin-bottom: 1.5vh !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#profile-image-container-sidebar > p {
    padding: 0 !important;
    margin: 0 !important;
}

#profile-container-username {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5vh !important;
}

#profile-container-email {
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.6;
}