:host {
    margin-top: 1%;
    background: #f7f6f3 !important;
    box-shadow: 1px 0px 10px #00000020;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;        
    cursor: default;

}

 #title-nav {
    font-size: 24px;
    margin-top: 50px;
    color: #38383880;
    font-weight: bold;
}

.left-side-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;        cursor: default;
    padding-bottom: 3vh;
    position: relative;
}




.nav-bar-element {
    display: flex;
    align-items: center;
    color: #62666d;
    font-weight: bold;
    font-size: 14px;
}

.nav-bar-element:hover {
    background: linear-gradient(90deg, rgba(232,231,228,1) 0%, rgba(238,237,234,1) 65%, rgba(247,246,243,1) 100%);

    cursor:pointer;
    border-left: 3px solid #383838;
}

.soon-item:hover {
    background: #f7f6f3 !important;
    border-left: none !important;
    cursor: default;
}

.team-item:hover {
    background: linear-gradient(90deg, rgba(232,231,228,1) 0%, rgba(238,237,234,1) 65%, rgba(247,246,243,1) 100%);

    cursor:pointer;
    border-left: 3px solid #383838;
}

.nav-bar-element .icon-navbar {
    margin-left: 25px;
    font-size: 20px;
}

.nav-bar-element p {
    margin-left: 20px;
    font-weight: 400;
}

.notification-navbar {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    color: #383838;
    font-weight: bold;
}

.notification-navbar p {
    margin: 0 !important;
}

.soon-btn {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 20px;
    background: #383838;

    padding: .2vw 1vw .2vw 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    color: white;
}

.soon-btn p {
    margin: 0 !important;
}

.soon-item > p {
    opacity: 0.7; 
}


#vert-spacer-side {
    background: rgb(230, 230, 230);
    width: 100%;
    height: 1px;

    margin: 2vh 0vh 2vh 0vh;
}


#teams-title {
    color: #9c9b97;
    font-weight: bold;
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#teams-title > p {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
}

.team-item {
    width: 100%;
    height: auto;
    color: #62666d;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-banner {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 20px 0px 20px;
}

.team-name {
    margin: 0 !important;
    padding: 0 !important;

    font-weight: 400;
    font-size: 1rem;
}

#profile-image-container-sidebar {
    width: 100%;
    display: flex;
    padding: 2% 0%;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #e7e7e7;
    height: 6%;
    z-index: 3;
    background: #f7f6f3;
}

#sidebar-scroller-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 94%;
}

#profile-image {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 3%;
    border: 1px solid #383838;
}

#side-bar-navigation-info > p {
    padding: 0 !important;
    margin: 0 !important;
}

#profile-container-username {
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 1.5vh !important;
}

#profile-container-email {
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.6;
}

#side-bar-navigation-info {
    display: flex;
    flex-direction: column;
}

#profile-ellipses {
    margin-left: auto;
    margin-right: 3%;
    font-size: 1.2rem;
}

#side-bar-header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 15%;
}

#side-bar-header-section > h3 {
    margin: 0 !important;
    padding: 0 !important;
}


#side-bar-sections-container {
    width: 100%;
    height: auto;
    padding: 1%;

    display: flex;
}

#side-bar-sections-tab {
    width: 70%;
    margin-left: 5%;
    padding: 2%;  
    background: #383838;  
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.side-bar-sections-tab-item {
    width: 49%;
    padding: 3% 2%;
    border-radius: 8px;
}


.side-bar-sections-tab-item > p {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}


.active-tab {
    background: #4b4b4b;  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}