* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-grey);
    font-family: 'Karla';
    color: var(--light-grey);
}

.controls {
    display: inline-block;
}

.canvas-container {
    background: white;
}

.presentation-area {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}