* {
    background: var(--white);
    font-family: 'Karla';
    font-size:100%;
    color: var(--dark-grey);
}

body{
    width: 100vw;
    height: 100vh;

    margin: 0 !important;
    padding: 0 !important;;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.arrow{
    font-size: 150%;
    margin: 2.2% 0.5% auto 1%;
}

.logo{
    font-size: 200%;
    font-weight: bold;
    margin: auto 0;
}

.tos{
    font-size: 200%;
    margin: auto 0 auto 16%;
}

.modified{
    margin: auto 0 auto 47%;
}

.date{
    margin: auto 0.5%;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

.container .nav{
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 93%;
    padding: 2vw 2vw;
}

.container .nav h1{
    background-color: var(--light-grey);
    font-size: 170%;
    font-weight: bold;
    margin: 0 0 7% 0;
}

.container .nav p{
    background-color: var(--light-grey);
    font-weight: bold;
    opacity: 70%;
    font-size: 120%;
    margin: 7% 0;
}

.container .nav .download{
    background-color: var(--light-grey);
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.container .nav .download ion-icon, .container .nav .download p{
    background-color: var(--light-grey);
    margin: 1vh;
    font-size: 150%;
    color: var(--dark-grey);
    font-weight: bold;
}

.container .main{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    padding: 5vh;
    box-shadow: -3px 0px 5px 0px var(--dark-grey);
    z-index: 0;
}

.container .main .title{
    font-size: 200%;
    font-weight: bold;
    margin: 0;
}

.container .main .subtitle{
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    opacity: 90%;
}

.container .main .content{
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    opacity: 50%;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--white); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--light-grey); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey); 
}


