body {
    height: 540vh;
    background: var(--white);
    margin: 0 !important;


    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden;
}


#nav-bar {
    width: 100%;
    ;
    height: 5vh;
    background: var(--white);
    box-shadow: 0px 0px 4px 0px #00000032;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: 'Karla';
    color: var(--dark-grey);
    font-weight: bold;
    ;

}


#nav-bar-logo {

    font-size: 26px;
    margin-left: 35px;
    margin-right: auto;
}

#nav-bar-sign-up-div {
    width: 100px;
    height: 75%;
    background: var(--dark-grey);

    margin: 0px 35px 0px 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
}


.header-section {
    width: 100%;
    height: 45vh;

    margin-top: 30px;

    font-family: 'Karla';


    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;



}

.header-section h1 {

    margin: 0 !important;

    color: #000000;
    font-size: 70px;
    letter-spacing: -40;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    z-index: 2;


}

.header-section p {
    color: #000000;
    font-size: 25px;
    letter-spacing: -40;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    z-index: 2;
}


.object-header {
    border-radius: 90%;
    position: absolute;

}

.header-option-container {
    margin-top: 50px !important;
    width: 26%;
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-option-container .register {
    height: 100%;
    width: 40%;
    background: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-option-container .register p {
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
}

.header-option-container .watch-demo {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    color: var(--dark-grey);

}

.header-option-container .watch-demo p {
    font-size: 18px;
}


.video-section {
    margin-top: 20vh;
    height: 80vh;
    background-image: url('../img/video-gradient-bg.png');
    background-size: cover;
    background-position: center;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.video-section img {
    height: 80%;
    width: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 40px #33333392;
}


.section-two {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;

}


.section-realtime {
    height: 100vh;
    width: 100%;
}


.section-realtime-header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;

    line-height: 0.8;

    font-family: 'Karla';
    font-weight: bold;
}


.section-realtime-header p:nth-child(1) {
    font-size: 45px;
    color: var(--dark-grey);
    margin: 0 !important;
}

.section-realtime-header p:nth-child(2) {
    font-size: 30px;
    color: #38383875;

}

.section-realtime-main {
    width: 100%;
    height: 75vh;

    display: flex;
    flex-direction: row;
}

.section-realtime-bottom {
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: bold;
    font-family: 'Karla';
    color: #38383875;
}

.section-realtime-main-messages {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-realtime-main-image {
    height: 100%;
    width: 25%;
    background: black;
    display: flex;
    align-items: center;
}

.section-realtime-main-image-container {
    height: 85%;
    width: 90%;
    border-radius: 5px;
    background-image: url('../img/img_webview_editor.png');
}


.message {
    padding: 13px;
    height: auto;
    width: 28%;
    border-radius: 20px;
    color: var(--dark-grey);
    font-size: 20px;
    font-family: 'Karla';
    margin: 10px;


}

.message p {
    margin: 0 !important;
}

.left-message {
    margin-right: 400px;
    background: #E6E7EA;
}

.right-message {
    color: #ffffff;
    margin-left: 400px;
    background: #4D4FFB;
}


.section-users {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;

    line-height: 30px;

}

.flex-item {
    background-size: cover;
    background-position: center;
    margin: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;
}

.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.images-section {
    width: 60%;
    height: auto;
}


.section-users-text {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: left;
}

.section-users-text p {
    margin: 0 !important;
    font-family: 'Karla';
}

.section-users-text p:nth-of-type(1) {
    font-size: 80px;
    color: var(--dark-grey);
    font-weight: bold;
}

.section-users-text p:nth-of-type(2) {
    font-size: 59px;
    color: #A2A2A2;
    font-weight: bold;
}

.section-users-text p:nth-of-type(3) {
    font-size: 24px;
    color: var(--dark-grey);
    font-weight: bold;
}


.section-templates {
    height: 100vh;
    width: 100%;

    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    height: 90%;
    width: 90%;
}

.grid-templates {
   
    height: calc(50% - 20px);
    width: calc(50% - 20px);

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-size: cover;
    background-position: center;
}




.grid-templates  p {
    margin: 0 !important;
    font-family: 'Karla';
    font-weight: bold;
}

.grid-templates  p:nth-of-type(1) {
    font-size: 79px;
    color: white;
}

.grid-templates  p:nth-of-type(2) {
    font-size: 59px;
    color: #A2A2A2;
}

.grid-templates  p:nth-of-type(3) {
    font-size: 24px;
    color: white;
 
}


.footer {
    height: 15vh;
    width: 100%;
    background: black;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-content {
    width: 90%;
    height: 70%;
    background-color: black;

    border-top: 2px solid #A2A2A2;

    display: flex;
    flex-direction: row;


}

.footer-content p {
    color: #FFFFFF;
    font-family: 'Karla';
}

.horizontal-splitter {
    width: 1px;
    height:40%;
    margin: 5px 10px 5px 10px;
    background: white;
}