body {
    height: 100vh;
    background: var(--white);
    margin: 0 !important;
}


#nav-bar {
    height: 5vh;
    background: var(--white);
    box-shadow: 0px 0px 4px 0px #00000032;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: 'Karla';
    color: var(--dark-grey);
    font-weight: bold;
    ;

}


#nav-bar-logo {

    font-size: 26px;
    margin-left: 35px;
    margin-right: auto;
}

#nav-bar-sign-up-div {
    width: 100px;
    height: 75%;
    background: var(--dark-grey);

    margin: 0px 35px 0px 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
}


.header-section {
    width: 100%;
    height: 45vh;

    margin-top: 30px;

    font-family: 'Karla';


    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;



}

.header-section h1 {

    margin: 0 !important;

    color: #000000;
    font-size: 70px;
    letter-spacing: -40;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    z-index: 2;


}

.header-section p {
    color: #000000;
    font-size: 25px;
    letter-spacing: -40;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    z-index: 2;
}


.object-header {
    border-radius: 90%;
    position: absolute;

}

.header-option-container {
    margin-top: 50px !important;
    width: 26%;
    height: 7vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-option-container .register {
    height: 100%;
    width: 40%;
    background: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-option-container .register p {
    color: var(--white);
    font-weight: 300;
    font-size: 18px;
}

.header-option-container .watch-demo {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    color: var(--dark-grey);

}

.header-option-container .watch-demo  p {
    font-size: 18px;
}