<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Structure</title>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Karla">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/variables.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <div id="content-navigation">
            <div id="content-navigation-first">
                <div id="content-navigation-first-left">
                    <ion-icon id="content-navigation-first-left-icon" name="chevron-back-outline"></ion-icon>
                    <div id="content-navigation-first-left-text">
                        <h2 id="content-navigation-first-left-text-h2" contenteditable="true">Cute Stickers</h2>
                        <h3 id="content-navigation-first-left-text-h3">Matthias Riener</h3>
                    </div>
                </div>
                <ion-icon id="content-navigation-first-right-icon" name="add-outline"></ion-icon>
            </div>
            <div id="content-navigation-second">
                <ion-icon id="content-navigation-second-cam" name="videocam" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-mic" name="mic" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-headset" name="headset" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-settings" name="settings" style="fill: #383838;"></ion-icon>
            </div>
            <div id="content-navigation-third">
                <div id="content-navigation-third-box">
                    <h2 id="content-navigation-third-box-live">Live</h2>
                    <div id="content-navigation-third-box-counter">3</div>
                </div>
            </div>
            <div id="content-navigation-fourth">
                <div id="content-navigation-fourth-position">
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-firstCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-secondCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-thirdCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-fourthCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-fifthCircle">+4</div>
                </div>
            </div>
            <div id="content-navigation-fifth">
                <div id="content-navigation-fifth-box">
                    <ion-icon id="content-navigation-fifth-box-play" name="caret-forward-outline" style="color: #383838;"></ion-icon>
                    <ion-icon id="content-navigation-fifth-box-down" name="chevron-down-outline" style="color: #383838;"></ion-icon>
                </div>
            </div>
        </div>
        <div id="content-leftSlides">
            <div id="content-leftSlides-topBar">
                <ion-icon id="content-leftSlides-topBar-plus" name="add-outline" style="color: #383838;"></ion-icon>
                <ion-icon id="content-leftSlides-topBar-down" name="chevron-down-outline" style="color: #383838;"></ion-icon>
            </div>
            <div id="content-leftSlides-slidesContent">
                <div id="content-leftSlides-slidesContent-animatedBar"></div>
            </div>
        </div>
        <div id="content-main">
            <div id="content-main-inner">
                <div id="content-main-inner-spacing">
                    <div id="content-main-inner-spacing-top">
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                    </div>
                    <div id="content-main-inner-spacing-middle"></div>
                    <div id="content-main-inner-spacing-bottom">
                        <div id="content-main-inner-spacing-bottom-left">
                            <div id="content-main-inner-spacing-bottom-left-firstIcons">
                                <ion-icon id="content-main-inner-spacing-bottom-left-firstIcons-person" name="person-circle" style="fill: #383838;"></ion-icon>
                                <ion-icon id="content-main-inner-spacing-bottom-left-firstIcons-checkmark" name="checkmark-circle-outline" style="color: #383838;"></ion-icon>
                            </div>
                            <div id="content-main-inner-spacing-bottom-left-secondIcon">
                                <ion-icon id="content-main-inner-spacing-bottom-left-secondIcon-chat" name="chatbubble-ellipses" style="fill: #383838;"></ion-icon>
                            </div>
                            <div id="content-main-inner-spacing-bottom-left-thirdIcon">
                                <ion-icon id="content-main-inner-spacing-bottom-left-thirdIcon-smiley" name="happy-outline" style="color: #383838;"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-rightOptions">
            <div id="content-rightOptions-inner">

            </div>
        </div>
    </div>

    <div id="popupBox">
        <div id="popupBox-top">
            <div id="popupBox-top-controls">
                <div id="popupBox-top-controls-buttons">
                    <div id="popupBox-top-controls-buttons-use">Use Slide</div>
                    <div id="popupBox-top-controls-buttons-exit">
                        <ion-icon id="popupBox-top-controls-buttons-exit-icon" name="close-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div id="popupBox-top-main">
                <div id="popupBox-top-main-leftArrow">&#60;</div>
                <div id="popupBox-top-main-middle">

                </div>
                <div id="popupBox-top-main-rightArrow">&#62;</div>
            </div>
        </div>
        <div id="popupBox-bottom">
            <div id="popupBox-bottom-inner">
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
            </div>
        </div>
    </div>

    <div id="addObjectPopup">
        <div id="addObjectPopup-inner">
            <div id="addObjectPopup-inner-popup">
                <div id="addObjectPopup-inner-popup-headline" class="addObjectPopup-inner-popup-buttons">Add Element</div>
                <div id="addObjectPopup-inner-popup-text" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-text-icon" name="document-text-outline"></ion-icon>Text</div>
                <div id="addObjectPopup-inner-popup-image" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-image-icon" name="image"></ion-icon>Image</div>
                <div id="addObjectPopup-inner-popup-chart" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-chart-icon" name="bar-chart"></ion-icon>Chart</div>
                <div id="addObjectPopup-inner-popup-quiz" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-quiz-icon" name="help"></ion-icon>Quiz</div>
            </div>
            <div id="addObjectPopup-inner-unsplash">
                <div id="addObjectPopup-inner-unsplash-top">
                    <div id="addObjectPopup-inner-unsplash-top-headline">Unsplash Images</div>
                    <div id="addObjectPopup-inner-unsplash-top-input">
                        <div id="addObjectPopup-inner-unsplash-top-input-background">
                            <ion-icon id="addObjectPopup-inner-unsplash-top-input-background-icon" name="search-outline"></ion-icon>
                            <input id="addObjectPopup-inner-unsplash-top-input-background-field" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div id="addObjectPopup-inner-unsplash-bottom">

                </div>
            </div>
        </div>
    </div>

    <div id="settingsPopup">
        <div id="settingsPopup-inner">
            <div id="settingsPopup-inner-top">
                <div id="settingsPopup-inner-top-spacing"></div>
                    <div id="settingsPopup-inner-top-middle">
                    <h2 id="settingsPopup-inner-top-middle-text">Choose your audio and video settings for</h2>
                    <h2 id="settingsPopup-inner-top-middle-title">Hello Creativity</h2>
                </div>
                <div id="settingsPopup-inner-top-exit"><ion-icon id="settingsPopup-inner-bottom-header-exit" name="close-outline"></ion-icon></div>
            </div>
            <div id="settingsPopup-inner-bottom">
                <div id="settingsPopup-inner-bottom-picture">
            
                </div>
                <div id="settingsPopup-inner-bottom-settings">
            
                </div>
                <div id="settingsPopup-inner-bottom-picture-button">
            
                </div>
            </div>
        </div>
    </div>

    <div id="presentationModePopup">
        <div id="presentationModePopup-inner">
            <div id="presentationModePopup-inner-popup">
                <div id="presentationModePopup-inner-popup-headline">Presentation</div>
                <div id="presentationModePopup-inner-popup-start">From start</div>
                <div id="presentationModePopup-inner-popup-current">From current slide</div>
            </div>
        </div>
    </div>

    <script src="js/eventhandler.js" type="text/javascript" defer></script>
</body>
</html>