<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Structure</title>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Karla">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://raw.githubusercontent.com/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.js"></script>
    <script src="https://raw.githubusercontent.com/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css">


    <script src="./js/fabric.min.js" type="text/javascript"></script>

    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/variables.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        <div id="content-navigation">
            <div id="content-navigation-first">
                <div id="content-navigation-first-left">
                    <ion-icon id="content-navigation-first-left-icon" name="chevron-back-outline"></ion-icon>
                    <div id="content-navigation-first-left-text">
                        <h2 id="content-navigation-first-left-text-h2" contenteditable="true">Cute Stickers</h2>
                        <h3 id="content-navigation-first-left-text-h3">Matthias Riener</h3>
                    </div>
                </div>
                <ion-icon id="content-navigation-first-right-icon" name="add-outline"></ion-icon>
            </div>
            <div id="content-navigation-second">
                <ion-icon id="content-navigation-second-cam" name="videocam" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-mic" name="mic" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-headset" name="headset" style="fill: #383838;"></ion-icon>
                <ion-icon id="content-navigation-second-settings" name="settings" style="fill: #383838;"></ion-icon>
            </div>
            <div id="content-navigation-third">
                <div id="content-navigation-third-box">
                    <h2 id="content-navigation-third-box-live">Live</h2>
                    <div id="content-navigation-third-box-counter">3</div>
                </div>
            </div>
            <div id="content-navigation-fourth">
                <div id="content-navigation-fourth-position">
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-firstCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-secondCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-thirdCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-fourthCircle"></div>
                    <div class="content-navigation-fourth-position-circle" id="content-navigation-fourth-position-fifthCircle">+4</div>
                </div>
            </div>
            <div id="content-navigation-fifth">
                <div id="content-navigation-fifth-box">
                    <ion-icon id="content-navigation-fifth-box-play" name="caret-forward-outline" style="color: #383838;"></ion-icon>
                    <ion-icon id="content-navigation-fifth-box-down" name="chevron-down-outline" style="color: #383838;"></ion-icon>
                </div>
            </div>
        </div>
        <div id="content-leftSlides">
            <div id="content-leftSlides-topBar">
                <ion-icon id="content-leftSlides-topBar-plus" name="add-outline" style="color: #383838;"></ion-icon>
                <ion-icon id="content-leftSlides-topBar-down" name="chevron-down-outline" style="color: #383838;"></ion-icon>
            </div>
            <div id="content-leftSlides-slidesContent">
                <div id="content-leftSlides-slidesContent-animatedBar"></div>
            </div>
        </div>
        <div id="content-main">
            <div id="content-main-inner">
                <div id="content-main-inner-spacing">
                    <div id="content-main-inner-spacing-top">
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                        <div class="content-main-inner-spacing-top-profile">
                            <div class="content-main-inner-spacing-top-profile-image"></div>
                            <h2 class="content-main-inner-spacing-top-profile-text">Matthäus R.</h2>
                        </div>
                    </div>
                    <div id="content-main-inner-spacing-middle">
                        <canvas id="canvas"></canvas>
                    </div>
                    <div id="content-main-inner-spacing-bottom">
                        <div id="content-main-inner-spacing-bottom-left">
                            <div id="content-main-inner-spacing-bottom-left-firstIcons">
                                <ion-icon id="content-main-inner-spacing-bottom-left-firstIcons-person" name="person-circle" style="fill: #383838;"></ion-icon>
                                <ion-icon id="content-main-inner-spacing-bottom-left-firstIcons-checkmark" name="checkmark-circle-outline" style="color: #383838;"></ion-icon>
                            </div>
                            <div id="content-main-inner-spacing-bottom-left-secondIcon">
                                <ion-icon id="content-main-inner-spacing-bottom-left-secondIcon-chat" name="chatbubble-ellipses" style="fill: #383838;"></ion-icon>
                            </div>
                            <div id="content-main-inner-spacing-bottom-left-thirdIcon">
                                <ion-icon id="content-main-inner-spacing-bottom-left-thirdIcon-smiley" name="happy-outline" style="color: #383838;"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-rightOptions">
            <div id="content-rightOptions-inner">
               <div id="text-editor">
                    <div class="text-editor-title">
                        <p>Text</p>
                    </div>

                    <div class="text-editor-item">
                        <p>Color</p>
                        <input type="color" class="color-picker fill-color-picker">
                    </div>

                    <div class="text-editor-item">
                        <p>Opacity</p>
                        <input class="text-opacity-slider" type="range" min="00" max="100" value="100" step="10" />
                    </div>

                    <div class="text-editor-item">
                        <p>Family</p>
                        <select class="text-font-family">
                            <option value="arial">Arial</option>
                            <option value="helvetica" selected>Helvetica</option>
                            <option value="verdana">Verdana</option>
                            <option value="courier">Courier</option>
                            <option value="Roboto">Roboto</option>
                            <option value="Open Sans">Open Sans</option>
                            <option value="Zilla Slab">Zilla Slab</option>
                            <option value="Lato">Lato</option>
                            <option value="Bellefair">Bellefair</option>
                            <option value="Fresca">Fresca</option>
                            <option value="Raleway">Raleway</option>
                            <option value="Open Sans Condensed">Open Sans Condensed</option>
                            <option value="Indie Flower">Indie Flower</option>
                            <option value="Josefin Sans">Josefin Sans</option>
                            <option value="Inconsolata">Inconsolata</option>
                            <option value="Pacifico">Pacifico</option>
                            <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                        </select>
                    </div>

                    <div class="text-editor-item">
                        <p>Size</p>
                        <input type="number" class="font-size-text" />
                    </div>

                    <div class="text-editor-item">
                        <p>Bold</p>
                        <input type="checkbox" class="text-isbold">
                    </div>

                    <div class="text-editor-item">
                        <p>Center</p>
                        <button class="text-centerYX">Center</button>
                    </div>

                    <div class="text-editor-item">
                        <p>Char Spacing</p>
                        <input type="number" class="text-char-spacing" />
                    </div>

                    <div class="text-editor-item">
                        <p>Line Height</p>
                        <input type="range" class="text-line-height" step="0.1" min="0" max="10" />
                    </div>

                    <div class="text-editor-item">
                        <p>Style</p>
                        <button data-val="underline" class="btn-text-style">Underline</button>
                        <button data-val="overline" class="btn-text-style">Overline</button>
                        <button data-val="line-through" class="btn-text-style">Line Through</button>
                    </div>
               </div>
            </div>
        </div>
    </div>

    <div id="popupBox">
        <div id="popupBox-top">
            <div id="popupBox-top-controls">
                <div id="popupBox-top-controls-buttons">
                    <div id="popupBox-top-controls-buttons-use">Use Slide</div>
                    <div id="popupBox-top-controls-buttons-exit">
                        <ion-icon id="popupBox-top-controls-buttons-exit-icon" name="close-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div id="popupBox-top-main">
                <div id="popupBox-top-main-leftArrow">&#60;</div>
                <div id="popupBox-top-main-middle">

                </div>
                <div id="popupBox-top-main-rightArrow">&#62;</div>
            </div>
        </div>
        <div id="popupBox-bottom">
            <div id="popupBox-bottom-inner">
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
                <div class="popupBox-bottom-inner-slide">
                    
                </div>
            </div>
        </div>
    </div>

    <div id="addObjectPopup">
        <div id="addObjectPopup-inner">
            <div id="addObjectPopup-inner-popup">
                <div id="addObjectPopup-inner-popup-headline" class="addObjectPopup-inner-popup-buttons">Add Element</div>
                <div id="addObjectPopup-inner-popup-text" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-text-icon" name="document-text-outline"></ion-icon>Text</div>
                <div id="addObjectPopup-inner-popup-image" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-image-icon" name="image"></ion-icon>Image</div>
                <div id="addObjectPopup-inner-popup-chart" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-chart-icon" name="bar-chart"></ion-icon>Chart</div>
                <div id="addObjectPopup-inner-popup-quiz" class="addObjectPopup-inner-popup-buttons"><ion-icon id="addObjectPopup-inner-popup-quiz-icon" name="help"></ion-icon>Quiz</div>
            </div>

            <div id="addObjectPopup-inner-pictures">
                <div id="addObjectPopup-inner-pictures-upload">
                    <div id="addObjectPopup-inner-pictures-upload-inner">
                        Drop your image here, or browse
                    </div>
                </div>

                <div id="addObjectPopup-inner-pictures-unsplash">
                    <div id="addObjectPopup-inner-pictures-unsplash-top">
                            <div id="addObjectPopup-inner-pictures-unsplash-top-headline">Unsplash Images</div>
                        <div id="addObjectPopup-inner-pictures-unsplash-top-input">
                            <div id="addObjectPopup-inner-pictures-unsplash-top-input-background">
                                <ion-icon id="addObjectPopup-inner-pictures-unsplash-top-input-background-icon" name="search-outline"></ion-icon>
                                <input id="addObjectPopup-inner-pictures-unsplash-top-input-background-field" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div id="addObjectPopup-inner-pictures-unsplash-bottom">

                    </div>
                </div>
            </div>

            <div id="addObjectPopup-inner-quiz">
                <div id="addObjectPopup-inner-quiz-top">
                    <div id="addObjectPopup-inner-quiz-top-header">
                        <div id="addObjectPopup-inner-quiz-top-header-headline">Quizes</div>
                        <div id="addObjectPopup-inner-quiz-top-header-add"><ion-icon name="add"></ion-icon></div>
                    </div>
                    <div id="addObjectPopup-inner-quiz-top-input">
                        <div id="addObjectPopup-inner-quiz-top-input-background">
                            <ion-icon id="addObjectPopup-inner-quiz-top-input-background-icon" name="search-outline"></ion-icon>
                            <input id="addObjectPopup-inner-quiz-top-input-background-field" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div id="addObjectPopup-inner-quiz-bottom">
                    <div class="addObjectPopup-inner-quiz-bottom-row">
                        
                    </div>
                    <div class="addObjectPopup-inner-quiz-bottom-row">

                    </div>
                    <div class="addObjectPopup-inner-quiz-bottom-row">

                    </div>
                    <div class="addObjectPopup-inner-quiz-bottom-row">

                    </div>
                    <div class="addObjectPopup-inner-quiz-bottom-row">

                    </div>
                    <div class="addObjectPopup-inner-quiz-bottom-row">

                    </div>
                </div>
            </div>
            <div id="addObjectPopup-inner-quizInfo">

            </div>
        </div>
    </div>

    <div id="settingsPopup">
        <div id="settingsPopup-inner">
            <div id="settingsPopup-inner-top">
                <div id="settingsPopup-inner-top-spacing"></div>
                    <div id="settingsPopup-inner-top-middle">
                    <h2 id="settingsPopup-inner-top-middle-text">Choose your audio and video settings for</h2>
                    <h2 id="settingsPopup-inner-top-middle-title">Hello Creativity</h2>
                </div>
                <div id="settingsPopup-inner-top-exit"><ion-icon id="settingsPopup-inner-bottom-header-exit" name="close-outline"></ion-icon></div>
            </div>
            <div id="settingsPopup-inner-bottom">
                <div id="settingsPopup-inner-bottom-picture">
                    <div id="settingsPopup-inner-bottom-picture-inner"></div>
                </div>
                <div id="settingsPopup-inner-bottom-settings">
                    <div id="settingsPopup-inner-bottom-settings-cam">
                        <div id="settingsPopup-inner-bottom-settings-cam-top">
                            <ion-icon id="settingsPopup-inner-bottom-settings-cam-icon" name="videocam"></ion-icon>
                        </div>
                        <div id="settingsPopup-inner-bottom-settings-cam-bottom">
                            <div id="settingsPopup-inner-bottom-settings-cam-bottom-popup">
                                <ion-icon name="chevron-down"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div id="settingsPopup-inner-bottom-settings-mic">
                        <div id="settingsPopup-inner-bottom-settings-mic-top">
                            <ion-icon id="settingsPopup-inner-bottom-settings-mic-icon" name="mic"></ion-icon>
                        </div>
                        <div id="settingsPopup-inner-bottom-settings-mic-bottom">
                            <div id="settingsPopup-inner-bottom-settings-mic-bottom-popup">
                                <ion-icon name="chevron-down"></ion-icon>
                            </div>
                        </div>
                    </ion-icon></div>
                </div>
                <div id="settingsPopup-inner-bottom-button">
                    <div id="settingsPopup-inner-bottom-button-join">Join</div>
                </div>
            </div>
        </div>
    </div>

    <div id="camPopup">
        <div id="camPopup-inner">
            <div id="camPopup-inner-popup">
                <div id="camPopup-inner-popup-top">
                    <div id="camPopup-inner-popup-top-header">Input Devices</div>
                    <div id="camPopup-inner-popup-top-main">

                        <div class="camPopup-inner-popup-top-main-row">
                            <div class="camPopup-inner-popup-top-main-row-left">Default</div>
                            <div class="camPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="cam-input" class="camPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-top-main-row">
                            <div class="camPopup-inner-popup-top-main-row-left">JBL Clip 3</div>
                            <div class="camPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="cam-input" class="camPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-top-main-row">
                            <div class="camPopup-inner-popup-top-main-row-left">RODE NT-USB</div>
                            <div class="camPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="cam-input" class="camPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-top-main-row">
                            <div class="camPopup-inner-popup-top-main-row-left">Macbook Mikrofon</div>
                            <div class="camPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="cam-input" class="camPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="camPopup-inner-popup-bottom">
                    <div id="camPopup-inner-popup-bottom-header">Output Devices</div>
                    <div id="camPopup-inner-popup-bottom-main">
                
                        <div class="camPopup-inner-popup-bottom-main-row">
                            <div class="camPopup-inner-popup-bottom-main-row-left">Default</div>
                            <div class="camPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="cam-output" class="camPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-bottom-main-row">
                            <div class="camPopup-inner-popup-bottom-main-row-left">JBL Clip 3</div>
                            <div class="camPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="cam-output" class="camPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-bottom-main-row">
                            <div class="camPopup-inner-popup-bottom-main-row-left">27G1G4</div>
                            <div class="camPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="cam-output" class="camPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-bottom-main-row">
                            <div class="camPopup-inner-popup-bottom-main-row-left">RODE NT_USB</div>
                            <div class="camPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="cam-output" class="camPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="camPopup-inner-popup-bottom-main-row">
                            <div class="camPopup-inner-popup-bottom-main-row-left">Macbook Lautsprecher</div>
                            <div class="camPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="cam-output" class="camPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="micPopup">
        <div id="micPopup-inner">
            <div id="micPopup-inner-popup">
                <div id="micPopup-inner-popup-top">
                    <div id="micPopup-inner-popup-top-header">Input Devices</div>
                    <div id="micPopup-inner-popup-top-main">

                        <div class="micPopup-inner-popup-top-main-row">
                            <div class="micPopup-inner-popup-top-main-row-left">Default</div>
                            <div class="micPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="mic-input" class="micPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-top-main-row">
                            <div class="micPopup-inner-popup-top-main-row-left">JBL Clip 3</div>
                            <div class="micPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="mic-input" class="micPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-top-main-row">
                            <div class="micPopup-inner-popup-top-main-row-left">RODE NT-USB</div>
                            <div class="micPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="mic-input" class="micPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-top-main-row">
                            <div class="micPopup-inner-popup-top-main-row-left">Macbook Mikrofon</div>
                            <div class="micPopup-inner-popup-top-main-row-right">
                                <input type="radio" name="mic-input" class="micPopup-inner-popup-top-main-row-right-circle">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="micPopup-inner-popup-bottom">
                    <div id="micPopup-inner-popup-bottom-header">Output Devices</div>
                    <div id="micPopup-inner-popup-bottom-main">
                
                        <div class="micPopup-inner-popup-bottom-main-row">
                            <div class="micPopup-inner-popup-bottom-main-row-left">Default</div>
                            <div class="micPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="mic-output" class="micPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-bottom-main-row">
                            <div class="micPopup-inner-popup-bottom-main-row-left">JBL Clip 3</div>
                            <div class="micPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="mic-output" class="micPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-bottom-main-row">
                            <div class="micPopup-inner-popup-bottom-main-row-left">27G1G4</div>
                            <div class="micPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="mic-output" class="micPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-bottom-main-row">
                            <div class="micPopup-inner-popup-bottom-main-row-left">RODE NT_USB</div>
                            <div class="micPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="mic-output" class="micPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>

                        <div class="micPopup-inner-popup-bottom-main-row">
                            <div class="micPopup-inner-popup-bottom-main-row-left">Macbook Lautsprecher</div>
                            <div class="micPopup-inner-popup-bottom-main-row-right">
                                <input type="radio" name="mic-output" class="micPopup-inner-popup-bottom-main-row-right-circle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="presentationModePopup">
        <div id="presentationModePopup-inner">
            <div id="presentationModePopup-inner-popup">
                <div id="presentationModePopup-inner-popup-headline">Presentation</div>
                <div id="presentationModePopup-inner-popup-start">From start</div>
                <div id="presentationModePopup-inner-popup-current">From current slide</div>
            </div>
        </div>
    </div>

    <script src="./js/canvas-start.js" type="text/javascript" defer></script>
    <script src="js/eventhandler.js" type="text/javascript" defer></script>
</body>
</html>