* {
    padding: 0;
    margin: 0;
    font-family: 'Karla';
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

#template {
    display: none;
}

.keybindinginput {
    background-color: rgba(100, 198, 237, 0.7);
    border: none;
    caret-color: transparent;
    padding: 0.7vw;
    text-align: center;
    text-transform: capitalize;
    width: 25vw;
    color: white;
    border: none;
}

.displayname {
    width: 50vw;
    background: rgba(124, 124, 124, 0.8);
    padding: 0.7vw 2vw;
}

.keybindingdisplay, .displayname {
    color: white;
    font-size: medium;
}

.bindingsbox {
    display: flex;
}

.bindingsbox div {
    margin: 0.25vh;
}

