:host {
  padding: 0;
  margin: 0;
}

.cookie-placer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2vw 3vh 2vw;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  animation-name: animate-cookies;
  animation-duration: .2s;
  animation-timing-function: ease-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  bottom: -100%;
}

.cookie-container-box {
  padding: 1vh 2vw;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  width: 80vw;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 20px 10px #686e7d3b;
}

.cookie-bite {
  width: 4vw;
  margin: 0 1.7vw;
}

.cookie-container-content {
  color: #686e7d;
  font-size: small;
  margin: 2vw;
}

#agree {
  background: #10182f;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 1vw 3vw;
  font-size: medium;
  transition: background .1s;
  margin: 0 2vw;
}

#agree:hover {
  background: #4177f4;
}

@keyframes animate-cookies {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}