* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;        cursor: default;
    outline: none;
    color: var(--dark-grey);
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#content {
    width: 82vw;
    height: 100vh;
}

#content-top {
    width: 100%;
    height: 6%;
    border-bottom: 3px solid #F8F7F9;
}

#content-bottom {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: row;
}

#content-bottom-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#content-bottom-left-left {
    width: 20%;
    height: 100%;
}

#content-bottom-left-right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-bottom-left-right-card {
    width: 95%;
    height: 45%;
    background-color: var(--dark-grey);
    border-radius: 10px;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#content-bottom-left-right-card-inner {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-bottom-left-right-card-inner-top {
    width: 90%;
    height: 50%;
    background-image: url("https://images.unsplash.com/photo-1488161628813-04466f872be2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ1fHxwb3J0cmFpdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 1.4vh;
}

#content-bottom-left-right-card-inner-bottom {
    width: 90%;
    height: 50%;
}

#top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 150%;
}

#middle {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle p {
    background-color: var(--dark-grey);
    color: white;
    border-radius: 7px;
    padding: 2% 4%;
}

#bottom {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bottom > p {
    opacity: 0.9;
    text-align: center;
    margin-right: 1vw;
}

#card-flag {
    width: 2.5vw;
    height: 3vh;
    background-color: red;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#content-bottom-left-right-trophies {
    width: 95%;
    height: 30%;
    border-radius: 10px;
    margin-top: 2vh;
    border: 2px solid var(--light-grey);
}

#content-bottom-left-right-trophies-top {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-bottom-left-right-trophies-top-inner {
    width: 90%;
    height: 40%;
}

#content-bottom-left-right-trophies-middle {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#content-bottom-left-right-trophies-middle-inner {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content-bottom-left-right-trophies-middle-inner > div {
    width: 45%;
    height: 100%;
    background-color: #ebe9e7;
    border-radius: 10px;
}

#content-bottom-left-right-trophies-bottom {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-bottom-left-right-trophies-bottom-inner {
    width: 90%;
    height: 40%;
    color: blue;
    display: flex;
    align-items: center;
}

#content-bottom-left-right-trophies-bottom-inner:hover {
    cursor: pointer;
}

#content-bottom-right {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

#content-bottom-right-inner {
    width: 90%;
    height: 100%;
    margin: 4vh;
}

#content-bottom-right-inner-top {
    width: 100%;
    height: 20%;
}

#content-bottom-right-inner-top-top {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-bottom-right-inner-top-top-headline {
    width: 100%;
    height: 50%;
    color: black;
    font-weight: bold;
    font-size: 2.4rem;
    display: flex;
    align-items: flex-end;
}

#content-bottom-right-inner-top-top-secondline {
    width: 100%;
    height: 40%;
}

.package {
    background-color: var(--dark-grey);
    color: white;
    padding: 0.5% 1%;
    margin-left: 0.5vw;
    border-radius: 7px;
}

#content-bottom-right-inner-top-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

#content-bottom-right-inner-top-bottom-inner {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px var(--light-grey);
}

.content-main-section {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2vh;
}

.content-main-section:hover {
    cursor: pointer;
}

#content-bottom-right-inner-bottom {
    width: 100%;
    height: 80%;
}


#profile-card-subinfo {
    opacity: 0.8;
}


.content-container {
    width: 100%;
    height: 80%;
    background: transparent;
    display: none;
}

.active {
    display: flex;
}

.active-bar {
    color: blue !important;
}

.personal {
    flex-direction: column;
}


#personal-description {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#personal-description:hover {
    cursor: text;
}

.personal-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personal-section > h3 {
    font-weight: bold;
    color: black;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: .9rem;
    margin: 1vh 0vh !important;
   margin-top: 2vh !important;
}

.sub-personal-section {
    display: flex;
    flex-direction: row;
    width: 80%;
    
    flex-wrap: wrap;
}

.sub-personal-section > div {
    min-width: 28%;
    margin-right: 2vh;
}

.sub-personal-section > div > h4 {
    font-weight: 500;

}

.sub-personal-section > div > p {
    margin-bottom: 3vh;
    font-weight: 500;
    opacity: 0.8;
}

#trophyHeader {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#collect-info-card {
    height: auto;
    background: #e7e7e7;

    display: flex;
    justify-content: flex-start;
    margin: 1vh 0 3vh 0;
}

#info-card-container {
    width: 100%;
}

#collect-info-card > p {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 0.8vh 1.5vw;
}

.trophies {
    flex-direction: column;
}

.trophyBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin-bottom: 1.5vh;
}

.trophyProgress {
    width: 5.5vw;
    height: 5.5vw;
    background-color: blue;
    border-radius: 10px;
    margin: 0.5vw;
}

.trophyText {
    width: auto;
    height: auto;
    margin-left: 1vw;
}

.trophyReward {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 0.8vw;
    margin-top: auto;
    margin-bottom: 0.8vh;
}

.dashboard {
    flex-direction: column;
}

.title-section-dashboard {
    display: flex;
    align-items: center;
}

.title-section-dashboard > h1 {
    margin-top: 3vh;
}

.title-section-dashboard > .expand-icon-dashboard {
    margin-left: auto;
    height: 1.3vw;
    width: 1.3vw;
}

#unfinished-presentations-container {
    width: 100%;
    height: auto;
    margin: 2vh 0vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

:root {
    --unfinished-width: 14vw;
}

.unfinished-presentation {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 2vh;
}

.unfinished-presentation-img {
    width: var(--unfinished-width);
    height: calc(var(--unfinished-width) / 16 * 9);
    background: blue;
    border-radius: 15px;
}

.unfinished-presentation-name {
    padding: 0.5vw 0vw;
}


.dashboard-tasks-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f4f8;
    padding: 2vh 0vh;
    margin: 2vh 0vh;
}

.dashboard-tasks-section > h2 {
    width: 90%;
    text-align: left;
    color: #383838;
    font-size: 1.3rem;
}

.dashboard-tasks-presentation-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    background: #d8d8da;
    
    border-radius: 10px;
    margin: 1vh 0vh;
    padding: 1vw;
    box-sizing: border-box;
}

.dashboard-tasks-presentation-container {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 10px;
    padding: 1vh 2vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
}


.task-count {
    margin-left: auto;
    margin-right: 0.5vw;
    opacity: 0.7;
    font-size: 0.9rem;
}

.dashboard-tasks-presentation-dropdown {
    margin: auto 0.5vw;
}

.dashboard-tasks-container {
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.dashboard-task-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    background: white;
    border-radius: 10px;
    padding: 1vh 2vh;
    margin-top: 1vh;
    box-sizing: border-box;
}

.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard-subtask-item {
   width: 80%;
   display: flex;
   flex-direction: row;
   align-items: center;

   background: white;
   border-radius: 10px;
   padding: 1vh 2vh;
   margin-top: 1vh;
   box-sizing: border-box;

}

.subtask-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}